<div class="container" style="width: 100%"
	data-ng-controller="transformOwnerCtrl">	
	<div class="card">	
		<div class="listview lv-bordered lv-lg">
			<div class="lv-header-alt">
				<h2 class="lvh-label hidden-xs">成员列表</h2>			
			</div>

			<div class="lv-body">				
				
				<div class="contacts clearfix row"
					style="min-height: 250px; overflow-y: auto; max-height: 250px; margin-top: 10px; margin-left: 10px;">
					
					<div class="col-md-list col-sm-6 col-xs-6"
						ng-repeat="member in members | filter:isShowMember"">
						<div class="c-item" ng-class="{'c-item-selected':$index==selectedIndex}" ng-click="selectedMember(member.userDTO.user_id,$index)">
							<a href="" class="img-border ci-avatar-list"> <img
								ng-src="{{member.userDTO.remark1}}" alt="">
								<i class="md-choice md-done" ng-if="$index==selectedIndex"></i>
							</a>

							<div class="c-info" style="height: 100%;">
								<strong title="{{member.userDTO.user_realname}}">{{member.userDTO.user_realname}}</strong>								
							</div>
						</div>
					</div>

				</div>

			</div>
		</div>
	</div>
	<div class="m-t-30 right_btn">
		<button class="btn btn-primary btn-sm" ng-click="save()">保存</button>
		<button class="btn btn-link btn-sm" ng-click="close()">关闭</button>
	</div>
</div>