<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"><mapper namespace="com.chinacreator.c2.project.weeklyReport.WeeklyReportMapper">	

<!-- ElementID:column_sql,Generated=true -->
<sql id="column_sql">
		  c2_comunity_wr.id ,
		  c2_comunity_wr.project_id ,
		  c2_comunity_wr.year ,
		  c2_comunity_wr.week ,
		  c2_comunity_wr.summary ,
		  c2_comunity_wr.status_ ,
		  c2_comunity_wr.visible_range ,
		  c2_comunity_wr.next_summary ,
		  c2_comunity_wr.exist_problems ,
		  c2_comunity_wr_statistics_T1.id T1_id ,
		  c2_comunity_wr_statistics_T1.estimate T1_estimate ,
		  c2_comunity_wr_statistics_T1.consumed T1_consumed ,
		  c2_comunity_wr_statistics_T1.total T1_total ,
		  c2_comunity_wr_statistics_T1.completed T1_completed ,
		  c2_comunity_wr_statistics_T1.canceled T1_canceled ,
		  c2_comunity_wr_statistics_T1.cross_week T1_cross_week ,
		  c2_comunity_wr_statistics_T1.delayed_ T1_delayed_ ,
		  c2_comunity_wr_statistics_T1.member T1_member ,
		  c2_comunity_wr_statistics_T1.worked T1_worked 
</sql>

<!-- ElementID:whereClause_sql,Generated=true -->
<sql id="whereClause_sql">
	    <if test="id != null">and c2_comunity_wr.id = #{id}</if>
	    <if test="projectId != null">and c2_comunity_wr.project_id = #{projectId}</if>
	    <if test="year != null">and c2_comunity_wr.year = #{year}</if>
	    <if test="week != null">and c2_comunity_wr.week = #{week}</if>
	    <if test="summary != null">and c2_comunity_wr.summary = #{summary}</if>
	    <if test="status != null">and c2_comunity_wr.status_ = #{status}</if>
	    <if test="visibleRange != null">and c2_comunity_wr.visible_range = #{visibleRange}</if>
	    <if test="nextSummary != null">and c2_comunity_wr.next_summary = #{nextSummary}</if>
	    <if test="existProblems != null">and c2_comunity_wr.exist_problems = #{existProblems}</if>
		<if test="statistics != null and statistics.id !=null">and c2_comunity_wr.statistics = #{statistics.id}</if>
</sql>


<!-- ElementID:WeeklyReportResult,Generated=false -->
<resultMap id="WeeklyReportResult" type="com.chinacreator.c2.project.weeklyReport.WeeklyReport">
	<id property="id" column="id"/>
	<result property="projectId" column="project_id"/>
	<result property="year" column="year"/>
	<result property="week" column="week"/>
	<result property="summary" column="summary"/>
	<result property="status" column="status_"/>
	<result property="nextSummary" column="next_summary"/>
	<result property="existProblems" column="exist_problems"/>
	<result property="visibleRange" column="visible_range"/>
	<association property="statistics" column="T1_id" resultMap="WeeklyStatisticsResult" columnPrefix="T1_"/>	
</resultMap>



<!-- ElementID:insert,Generated=true -->
<insert id="insert" parameterType="com.chinacreator.c2.project.weeklyReport.WeeklyReport" useGeneratedKeys="true">
	<selectKey keyProperty="id" resultType="java.lang.Integer" order="AFTER">
        select LAST_INSERT_ID()
    </selectKey>
insert into c2_comunity_wr(
		<trim prefixOverrides=",">
		    <if test="projectId != null">project_id</if>
		    <if test="year != null">,year</if>
		    <if test="week != null">,week</if>
		    <if test="summary != null">,summary</if>
		    <if test="status != null">,status_</if>
		    <if test="visibleRange != null">,visible_range</if>
		    <if test="nextSummary != null">,next_summary</if>
		    <if test="existProblems != null">,exist_problems</if>
		    <if test="statistics != null and statistics.id !=null">,statistics</if>
		</trim>
	 )
	 values (
		<trim prefixOverrides=",">
		    <if test="projectId != null">#{projectId,jdbcType=NUMERIC}</if>
		    <if test="year != null">,#{year,jdbcType=NUMERIC}</if>
		    <if test="week != null">,#{week,jdbcType=NUMERIC}</if>
		    <if test="summary != null">,#{summary,jdbcType=VARCHAR}</if>
		    <if test="status != null">,#{status,jdbcType=VARCHAR}</if>
		    <if test="visibleRange != null">,#{visibleRange,jdbcType=VARCHAR}</if>
		    <if test="nextSummary != null">,#{nextSummary,jdbcType=VARCHAR}</if>
		    <if test="existProblems != null">,#{existProblems,jdbcType=VARCHAR}</if>
		    <if test="statistics != null and statistics.id !=null">,#{statistics.id,jdbcType=NUMERIC}</if>
        </trim>
	 )
</insert>

<!-- ElementID:count,Generated=true -->
<select id="count" parameterType="com.chinacreator.c2.project.weeklyReport.WeeklyReport" resultType="int">
	select count(*) from c2_comunity_wr 
		 <where>
			<include refid="whereClause_sql"/>
		</where>
</select>

<!-- ElementID:update,Generated=true -->
<update id="update" parameterType="com.chinacreator.c2.project.weeklyReport.WeeklyReport">
	update c2_comunity_wr
<set>
	<if test="projectId != null">project_id=#{projectId,jdbcType=NUMERIC},</if>
	<if test="year != null">year=#{year,jdbcType=NUMERIC},</if>
	<if test="week != null">week=#{week,jdbcType=NUMERIC},</if>
	<if test="summary != null">summary=#{summary,jdbcType=VARCHAR},</if>
	<if test="status != null">status_=#{status,jdbcType=VARCHAR},</if>
	<if test="visibleRange != null">visible_range=#{visibleRange,jdbcType=VARCHAR},</if>
	<if test="nextSummary != null">next_summary=#{nextSummary,jdbcType=VARCHAR},</if>
	<if test="existProblems != null">exist_problems=#{existProblems,jdbcType=VARCHAR},</if>
	<if test="statistics != null and statistics.id !=null">statistics=#{statistics.id,jdbcType=NUMERIC}</if>
</set>
<where>
	<choose>
        <when test="id != null">and id = #{id}</when>
        <otherwise>and id = </otherwise>
    </choose>
</where>
</update>

<!-- ElementID:update,Generated=true -->
<update id="updateNull" parameterType="map">
	update c2_comunity_weekly_report
	<set>
		<trim suffixOverrides=",">
		    <if test="project==null">project = null,</if>
		    <if test="year==null">year = null,</if>
		    <if test="week==null">week = null,</if>
		    <if test="summary==null">summary = null,</if>
		    <if test="statistics==null">statistics = null,</if>
		    <if test="status==null">status_ = null,</if>
		</trim>
	</set>
	<where>
		<choose>
			<when test="id != null">and id = #{id}</when>
			<otherwise>and id = </otherwise>
		</choose>
	</where>
</update>

<!-- ElementID:delete,Generated=true -->
<delete id="delete" parameterType="com.chinacreator.c2.project.weeklyReport.WeeklyReport">
    delete from c2_comunity_wr where 1=1 and id = #{id}
</delete>

<!-- ElementID:select,Generated=true -->
<select id="select" parameterType="com.chinacreator.c2.project.weeklyReport.WeeklyReport" resultMap="WeeklyReportResult">
	select 
		<include refid="column_sql"/>
	    from c2_comunity_wr 
		<include refid="one2one_sql"/>
		 <where>
			<include refid="whereClause_sql"/>
		</where>
</select>


<!-- ElementID:insertBatch,Generated=true -->
<insert id="insertBatch" parameterType="list" useGeneratedKeys="true">
	insert into c2_comunity_wr (project_id,year,week,summary,status_,visible_range,next_summary,exist_problems,statistics)
			values 
			<foreach collection="list" item="entity" index="index" separator=",">
				(
		         #{entity.projectId,jdbcType = NUMERIC},
		         #{entity.year,jdbcType = NUMERIC},
		         #{entity.week,jdbcType = NUMERIC},
		         #{entity.summary,jdbcType = VARCHAR},
		         #{entity.status,jdbcType = VARCHAR},
		         #{entity.visibleRange,jdbcType = VARCHAR},
		         #{entity.nextSummary,jdbcType = VARCHAR},
		         #{entity.existProblems,jdbcType = VARCHAR},
				 #{entity.statistics.id,jdbcType=NUMERIC}
				)
</foreach>
</insert>

<!-- ElementID:deleteBatch,Generated=true -->
<delete id="deleteBatch" parameterType="List">
	delete from c2_comunity_wr where id in
<trim prefix="(" suffix=")" suffixOverrides=",">
<foreach collection="list" item="entity" separator=",">
	<choose>
		<when test="@com.chinacreator.c2.dao.util.EntityBeanUtil@isEntityObj(entity)">#{entity.id}</when>
		<otherwise>#{entity}</otherwise>
	</choose>
</foreach>
</trim>
</delete>

<!-- ElementID:selectAll,Generated=true -->
<select id="selectAll" resultMap="WeeklyReportResult">
	select 
		<include refid="column_sql"/>
	    from c2_comunity_wr 
		<include refid="one2one_sql"/>
</select>

<!-- ElementID:selectByID,Generated=true -->
<select id="selectByID" parameterType="java.lang.Integer" resultMap="WeeklyReportResult">
	select 
		<include refid="column_sql"/>
	    from c2_comunity_wr 
		<include refid="one2one_sql"/>
		 where c2_comunity_wr.id = #{id,jdbcType=NUMERIC}
</select>

<!-- ElementID:selectByPage,Generated=true -->
<select id="selectByPage" parameterType="com.chinacreator.c2.project.weeklyReport.WeeklyReport" resultMap="WeeklyReportResult">
	select 
		<include refid="column_sql"/>
	    from c2_comunity_wr 
		<include refid="one2one_sql"/>
		 <where>
			<include refid="whereClause_sql"/>
		</where>
</select>


<!-- ElementID:selectMany,Generated=true -->
<select id="selectMany" parameterType="list" resultMap="WeeklyReportResult">
select 
	<include refid="column_sql"/> 
	from c2_comunity_wr 
	<include refid="one2one_sql"/>
	where c2_comunity_wr.id in (
		select distinct id from c2_comunity_wr inner join
<foreach collection="list" item="entity" separator="inner join">
		(select 
			distinct id
			from c2_comunity_wr 
			<where>
	        <if test="entity.id != null">and c2_comunity_wr.id = #{entity.id}</if>
	        <if test="entity.projectId != null">and c2_comunity_wr.project_id = #{entity.projectId}</if>
	        <if test="entity.year != null">and c2_comunity_wr.year = #{entity.year}</if>
	        <if test="entity.week != null">and c2_comunity_wr.week = #{entity.week}</if>
	        <if test="entity.summary != null">and c2_comunity_wr.summary = #{entity.summary}</if>
	        <if test="entity.status != null">and c2_comunity_wr.status_ = #{entity.status}</if>
	        <if test="entity.visibleRange != null">and c2_comunity_wr.visible_range = #{entity.visibleRange}</if>
	        <if test="entity.nextSummary != null">and c2_comunity_wr.next_summary = #{entity.nextSummary}</if>
	        <if test="entity.existProblems != null">and c2_comunity_wr.exist_problems = #{entity.existProblems}</if>
			</where>
		) ${entity.tableAlias} using (id)
</foreach>
)
</select>



<select id="selectMaxWeekNum" parameterType="int" resultMap="WeeklyReportResult">
	select year,week
	from c2_comunity_wr
	where c2_comunity_wr.project_id = #{_parameter} order by id desc LIMIT 1
</select>

<select id="selectWeeklyReport" parameterType="map" resultMap="selectWeeklyReportResult">
select * from (
<choose>
	<when test="projectAuthorInfos!=null and projectAuthorInfos.size() != 0">
			<trim prefixOverrides="UNION ALL">
			<foreach collection="projectAuthorInfos" item="projectAuthorInfo" separator="UNION ALL">
				select 
				<include refid="column_sql"/>,
				zt_project.name_ projectName
			    from c2_comunity_wr 
			    inner join zt_project on c2_comunity_wr.project_id = zt_project.id 
				<include refid="one2one_sql"/>
				 <where>
				    c2_comunity_wr.project_id = #{projectAuthorInfo.id}
					<if test="statusFilter != null">and c2_comunity_wr.status_ != #{statusFilter}</if>
					<if test="projectAuthorInfo.userProjectRelationship==&quot;member&quot;">
						and (c2_comunity_wr.visible_range is null or c2_comunity_wr.visible_range = 'member')
					</if>
				</where>
			</foreach>
		</trim>
	</when>
	<otherwise>
				select 
			<include refid="column_sql"/>,
			zt_project.name_ projectName
		    from c2_comunity_wr 
		    inner join zt_project on c2_comunity_wr.project_id = zt_project.id 
			<include refid="one2one_sql"/>
			 <where>
				<if test="id != null">and c2_comunity_wr.id = #{id}</if>
			    <if test="projectId != null">
			    	and c2_comunity_wr.project_id = #{projectId}
			    </if>
			    <if test="statusFilter != null">and c2_comunity_wr.status_ != #{statusFilter}</if>
			    <if test="userProjectRelationship==&quot;member&quot;">
			    	and (c2_comunity_wr.visible_range is null or c2_comunity_wr.visible_range = 'member')
			    </if>
			</where>
	</otherwise>
</choose>
) t order by t.year desc,t.week desc
</select>

<resultMap type="map" id="selectWeeklyReportResult">
	<id property="id" column="id"/>
	<result property="projectId" column="project_id"/>
	<result property="year" column="year"/>
	<result property="week" column="week"/>
	<result property="summary" column="summary"/>
	<result property="status" column="status_"/>
	<result property="projectName" column="projectName"/>
	<result property="visibleRange" column="visible_range"/>
	<association property="statistics" column="T1_id" resultMap="WeeklyStatisticsResult" columnPrefix="T1_"/>	
</resultMap>

<select id="getCurrtentMemberWRProjectInfos" parameterType="map" resultMap="ReportFormProjectsResult" useCache="false">
select t.* from 
(
	select DISTINCT(c2_comunity_wr.project_id) id ,zt_project.name_ ,
		(select 'submit2' from dual) userProjectRelationship
		<if test="week!=null">,c2_comunity_wr.id reportId</if>
		from c2_comunity_wr 
		left join zt_project on c2_comunity_wr.project_id = zt_project.id 
		where 
		c2_comunity_wr.project_id in (
			select  zt_project.id from zt_project 
				LEFT JOIN c2_comunity_wr_submit2 sub on sub.project_id = zt_project.id 
				where sub.submit_to = #{currentUserId,jdbcType=VARCHAR}
		) 
		<if test="week!=null">
			and c2_comunity_wr.week = #{week,jdbcType=NUMERIC} and c2_comunity_wr.status_ != '缺失'
		</if>
		<if test="year!=null">
			and c2_comunity_wr.year = #{year,jdbcType=NUMERIC} and c2_comunity_wr.status_ != '缺失'
		</if>
		<if test="projectId!=null">
			and c2_comunity_wr.project_id = #{projectId,jdbcType=NUMERIC}
		</if>
	UNION ALL
	select DISTINCT(c2_comunity_wr.project_id) id ,zt_project.name_ ,
		(select 'manager' from dual) userProjectRelationship
		<if test="week!=null">,c2_comunity_wr.id reportId</if>
		from c2_comunity_wr 
		left join zt_project on c2_comunity_wr.project_id = zt_project.id 
		where 
		c2_comunity_wr.project_id in (
			select c2_projectuser.project_id id
			from c2_projectuser 
			where c2_projectuser.user_id = #{currentUserId,jdbcType=VARCHAR} and c2_projectuser.job_id in (10,11) 
			UNION 
			select zt_project.id from zt_project 
				LEFT JOIN c2_comunity_wr_submit2 sub on sub.project_id = zt_project.id 
				where  zt_project.owner = #{currentUserId,jdbcType=VARCHAR} 
		) 
		<if test="week!=null">
			and c2_comunity_wr.week = #{week,jdbcType=NUMERIC} and c2_comunity_wr.status_ != '缺失'
		</if>
		<if test="year!=null">
			and c2_comunity_wr.year = #{year,jdbcType=NUMERIC} and c2_comunity_wr.status_ != '缺失'
		</if>
		<if test="projectId!=null">
			and c2_comunity_wr.project_id = #{projectId,jdbcType=NUMERIC}
		</if>
	UNION ALL
		select DISTINCT(c2_comunity_wr.project_id) id ,zt_project.name_ ,
		(select 'member' from dual) userProjectRelationship
		<if test="week!=null">,c2_comunity_wr.id reportId</if>
		from c2_comunity_wr 
		left join zt_project on c2_comunity_wr.project_id = zt_project.id 
		where 
		c2_comunity_wr.project_id in (
			select c2_projectuser.project_id id
			from c2_projectuser 
			where c2_projectuser.user_id = #{currentUserId,jdbcType=VARCHAR} 
		) 
		<if test="week!=null">
			and c2_comunity_wr.week = #{week,jdbcType=NUMERIC} and c2_comunity_wr.status_ != '缺失'
		</if>
		<if test="year!=null">
			and c2_comunity_wr.year = #{year,jdbcType=NUMERIC} and c2_comunity_wr.status_ != '缺失'
		</if>
		<if test="projectId!=null">
			and c2_comunity_wr.project_id = #{projectId,jdbcType=NUMERIC}
		</if>
) t	group by t.id
</select>

<resultMap type="map" id="ReportFormProjectsResult">
	<id property="id" column="id"/>
	<result property="name" column="name_"/>
	<result property="reportId" column="reportId"/>
	<result property="userProjectRelationship" column="userProjectRelationship"/>
</resultMap>



<!--Generated=true-->
<sql id="one2one_sql">
	     left outer join c2_comunity_wr_statistics c2_comunity_wr_statistics_T1 on c2_comunity_wr.statistics=c2_comunity_wr_statistics_T1.id
</sql>
<!--Generated=true-->
<resultMap id="WeeklyStatisticsResult" type="com.chinacreator.c2.project.weeklyReport.WeeklyStatistics">
	<id property="id" column="id"/>
	<result property="estimate" column="estimate"/>
	<result property="consumed" column="consumed"/>
	<result property="total" column="total"/>
	<result property="completed" column="completed"/>
	<result property="canceled" column="canceled"/>
	<result property="crossWeek" column="cross_week"/>
	<result property="delayed" column="delayed_"/>
	<result property="member" column="member"/>
	<result property="worked" column="worked"/>
</resultMap>
<!-- ElementID:cache,Generated=true -->
<cache type="C2_Default_Dao_Cache"/>
<!-- ElementID:selectUnion,Generated=true -->
<select id="selectUnion" parameterType="list" resultMap="WeeklyReportResult">
select 
	<include refid="column_sql"/> 
	from c2_comunity_wr 
	<include refid="one2one_sql"/>
	 INNER JOIN
<foreach collection="list" item="entity" separator="UNION" open="(" close=")">
		SELECT 
			 id
		FROM c2_comunity_wr 
			<where>
	        <if test="entity.id != null">and c2_comunity_wr.id = #{entity.id}</if>
	        <if test="entity.projectId != null">and c2_comunity_wr.project_id = #{entity.projectId}</if>
	        <if test="entity.year != null">and c2_comunity_wr.year = #{entity.year}</if>
	        <if test="entity.week != null">and c2_comunity_wr.week = #{entity.week}</if>
	        <if test="entity.summary != null">and c2_comunity_wr.summary = #{entity.summary}</if>
	        <if test="entity.status != null">and c2_comunity_wr.status_ = #{entity.status}</if>
	        <if test="entity.visibleRange != null">and c2_comunity_wr.visible_range = #{entity.visibleRange}</if>
	        <if test="entity.nextSummary != null">and c2_comunity_wr.next_summary = #{entity.nextSummary}</if>
	        <if test="entity.existProblems != null">and c2_comunity_wr.exist_problems = #{entity.existProblems}</if>
			</where>
</foreach>
	c2_temp_table ON c2_comunity_wr.id = c2_temp_table.id
</select>
</mapper>