<style>
.dropdown-menu .label-color {
	width: 13px;
	height: 13px;
	display: inline-block;
	border-radius: 3px;
	vertical-align: middle;
	margin: 0 3px 2px 0;
}

.num{
  font-size: 16px;
  padding: 5px;
  color: cadetblue;
}

.bug-block-search{
	display: inline-block;
	padding: 1px 2px;
	line-height: 20px;
	font-size: smaller;
	text-align: center;
	border-radius: 3px;
	margin-right: 5px;
	word-wrap:normal;
}


</style>
<div ng-controller="bugCtrl" style="padding-top: 20px;">
	<div class="card" id="profile-main">
		<div class="card-body clearfix">
			<div class="listview lv-bordered lv-lg">
				<div class="lv-body">
				<div ng-if="sList.length==0" class="lv-item no-animate text-center p-20">没有查到任何BUG。</div>
					<div class="lv-item no-animate media" ng-repeat='s in sList'>

						<div class="media-body">
							<div class="lv-title">

								<b class="c-Reopen m-r-10">#{{s.no}}</b> <a data-ui-sref="project.milestoneDetail.bugList.bug({bugNo:s.no})">{{s.title}}</a>
								
								<span class="p-l-10 p-r-10 m-r-5 label-show"  ng-repeat="label in s.labels" ng-click="search.labels=[label]" style="cursor:pointer;background-color: {{label.color}};color:{{getTextColor(label.color)}}">{{label.name}}</span>  
							</div>
							<!-- <small class="lv-small">{{s.spec|limitTo:150}}</small> -->

							<ul class="lv-attrs">
								
								
								<div class="bug-block bug-{{fomatBugStatus(s.status)}}" >{{fomatBugStatus(s.status)}}</div>
								
								<li style="border: 0;background-color: inherit;" title="创建时间"><i class="md md-today" ></i> {{s.createTime|date:'yyyy-MM-dd HH:mm'}}</li>
								<li style="border: 0;background-color: inherit;" title="创建人"><i class="md md-person-outline" ></i> {{s.createBy.userRealname}}</li>
								<li style="border: 0;background-color: inherit;" title="处理人"><i class="md md-person" ></i> {{s.assignedTo.userRealname}}</li>
								<li style="border: 0;background-color: inherit;" title="优先级"><i class="md md-sort" ></i> {{s.pri}}</li>
								<li style="border: 0;background-color: inherit;" ng-if="s.milestone" title="里程碑"><i class="md md-av-timer" ></i> {{s.milestone.title}}</li>
							</ul>
						</div>
					</div>

				</div>
			</div>

			<c2-pagination id="pageEle" total="total" page-size="10"
				on-page-change="refreshList(pageIndex)"></c2-pagination>
		</div>
	</div>

<aside id="detail-panel" state-aside-container class="cOverflow" >
    <ui-view name="sideUIView" onload="stateOnload()"></ui-view>
</aside>
</div>
<script type="text/javascript">
	angular.module("project").registerCtrl(
			'bugCtrl',
			function($scope, $http, $state, $stateParams, $timeout, Messenger,
					Modal) {
				$scope.storyCUD=true;
				
				$scope.allStatusList=[
								{value:5,name:"Rejected",group:"待验证"},
								{value:6,name:"Fixed",group:"待验证"},
 								{value:1,name:"New",group:"打开的"},
								{value:2,name:"Open",group:"打开的"},
								{value:3,name:"Reopen",group:"打开的"},
								{value:4,name:"FixLater"},
								{value:0,name:"Closed"}
				];

				$scope.search={
						type:2,
						labels:[],
						milestone:{id:$stateParams.milestoneId},
						statusList:[
	 								{value:1,name:"New"},
									{value:2,name:"Open"},
									{value:3,name:"Reopen"},
									{value:4,name:"FixLater"},
									{value:5,name:"Rejected"},
									{value:6,name:"Fixed"},
									{value:0,name:"Closed"}
						],
						assignToArray:[]
				}
				
				
				$scope.getTextColor=function(color){
					return getTextColorByBackColor(color);
				};
				
		    	$scope.$watch("search",function(v){
		    		console.log("search",v);
		    		$scope.refreshList(1);
		    	},true);
				

				var loadProjectMember=function(){
					$scope.projectUsers=[];
					//项目成员
			    	$http.post("ws/getMembers",{projectId:$stateParams.project}).success(function(data){
			    		angular.forEach(data.result,function(v,n){
			    			$scope.projectUsers.push({userId:v.userDTO.userId,userRealname:v.userDTO.userRealname,icon:v.userDTO.remark1,userName:v.userDTO.userName});
			    		});
			    	});
				}
				
				loadProjectMember();
				
				$scope.refreshList = function(pageIndex) {
					//处理参数为空字符串的情况
					var mileid = ($scope.search.milestone&&$scope.search.milestone.id!="") ? $scope.search.milestone.id : undefined;
					var moduleid = ($scope.module&&$scope.module.id!="") ? $scope.module.id : undefined;
					var projectId = ($stateParams.project&&$stateParams.project!="") ? $stateParams.project : undefined;
					var status=undefined;
					pageIndex=pageIndex?pageIndex:1;
					
					if($scope.search.statusList&&$scope.search.statusList.length==0){
						$scope.sList = [];
						$scope.total = 0;
						$timeout(function(){
							if($("#pageEle").controller("c2Pagination")){
								$("#pageEle").controller("c2Pagination").goPage(0);
							}
						},0);
						return;
					}
					
					var condition ={
						project : {
							id : projectId
						},
						milestone : {
							id : mileid
						},
						module : {
							id : moduleid
						},
						labels:$scope.search.labels
					}
					
					if($scope.search.statusList&&$scope.search.statusList.length!=7){
						condition.statusList=$scope.search.statusList;
					}
					
					if($scope.search.assignToArray&&$scope.search.assignToArray.length>0){
						condition.assignedToList=$scope.search.assignToArray;
					}
					
					if($scope.search.type==1){
						condition.createBy=$scope.subject.userName;
					}
					
					$http.post("ws/bug/getBugList",{
						condition:condition,
						pageable : {
							pageIndex : pageIndex
						}
					}).success(function(data) {
						$scope.sList = data.result.contents;
						
						$scope.bugStatusCount={
				    			CREATED:0,
				    			OPENED:0,
				    			REOPEN:0,
				    			FIXED_LATER:0,
				    			REJECT:0,
				    			DONE:0,
								CLOSED:0
						}
						
						$.extend($scope.bugStatusCount,data.result.bugStatusCount);
						
						$scope.bugStatusCountTotal=data.result.bugStatusCountTotal;
						
						var total = data.result.total;
						$scope.total = total;
						$timeout(function(){
							$("#pageEle").controller("c2Pagination").goPage(pageIndex);
						},0);
					});
				};

				$scope.mileMenuClick = function(item) {
					$scope.refreshList(1);
				};
				$scope.moduleMenuClick = function(item) {
					$scope.refreshList(1);
				};
				var projectId = $stateParams.project;//alert(projectId)
				$scope.mileList = [ {
					title : "所有里程碑",
					id : ''
				} ];
				$scope.mile = $scope.mileList[0];
				
				$http.post("ws/getAllLabelAndMilestone", {
					"projectId" : projectId
					}).success(function(data) {
						if(data.result.allLabelList) $scope.allLabelList=data.result.allLabelList;
						if(data.result.allMilestoneList) $scope.allMileList=data.result.allMilestoneList;
				});
				

				$scope.treeOptions = {
					view : {
						selectedMulti : false
					},
					data : {
						simpleData : {
							idKey : "id",
							pIdKey : "parent",
							rootPId : 0,
							enable : true
						}
					},
					callback : {
						onClick : function(event, treeId, treeNode, clickFlag) {
							$scope.$apply(function() {
								$scope.module = treeNode;
							});
							//收拢下拉框
							//$scope.moduleDropdownController.toggle();
							$("#listModTree").controller("c2-dropdown").toggle();
							$scope.refreshList(1);
						}
					}
				};
				
				$http.post("ws/getModuleListByProject", {
					projectId : projectId
				}).success(function(data) {
					var modList=[{id:undefined,parent:0,name:"所有模块"}];
					$scope.zTreeNodes = modList.concat(data.result);
					$scope.module=$scope.zTreeNodes[0];
				});
				$scope.delStory = function(id) {
					$http.delete("e/bug/"+id).success(function(data) {
						Messenger.post({
							'message' : "操作成功"
						});
						$scope.refreshList();
					});
				};
				
				$scope.create = function() {
					$state.go("project.addBug");
				};

				if($stateParams.init=='add'){
					$scope.create();
				}				
				
				$http.post("ws/isProjectPermitedByBatch",{projectId:$stateParams.project,permExprs:["story_cud","advancedSet_menu"]})
				.success(function(data,status,headers,config){
					$scope.storyCUD = data.result["story_cud"];
					$scope.advancedSetMenu = data.result["advancedSet_menu"];
				});
				
				
				$scope.closeStoryFun=function(bug){
					$http.post("ws/bug/changeBugStatus",{
					"bugId" : bug.id,
					"status":0
					}).success(function(){
						bug.status=0;
					});
				}

				$scope.openStoryFun=function(bug){
					$http.post("ws/bug/changeBugStatus",{
					"bugId" : bug.id,
					"status":3
					}).success(function(){
						bug.status=3;
					});
				}
				
				$scope.fomatBugStatus=function(status){
					switch(status) 
					{ 
						case 0: 
							return "Closed";
						case 1: 
							return "New";
						case 2: 
							return "Open";
//								return "接受";
						case 3: 
							return "Reopen";
						case 4: 
							return "FixLater";
						case 5: 
							return "Rejected";
						case 6: 
							return "Fixed";													
						default: 
							return status;
					}
				}
			});
</script>
