.wr-view {
	padding: 0px 23px 0px 20px;
}

.wr-view .table .column {
	overflow: hidden;
	white-space: normal;
	text-overflow: ellipsis;
	text-align: center;
}
.wr-view .table .column .text-line-hidden {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    box-sizing: border-box;
}
.wr-view #teamLog.table .column {
	white-space: normal;
	text-overflow: ellipsis;
	text-align: center;
	vertical-align: middle;
}
.wr-view #teamLog.table .column.text-left {
	text-align: left;
}
.wr-view .table .column.text-left {
	text-align: left;
}

.wr-view .checkbox-inline{
	vertical-align: middle;
}

.wr-view .table>thead>tr>th,.wr-view .table>tbody>tr>td {
	padding: 10px 4px;
	border-bottom: 1px solid #f0f0f0;
}

.wr-view .table>tbody>tr>td>a:hover {
	color: #2196F3;
}

.wr-view .table>tbody>tr>td>a,.wr-view .table>thead>tr>th>label{
	color: #000000;
}

.wr-view .table>thead>tr>th>label:hover{
	color: #2196f3;
}

.wr-view .require {
	border-color: red;
}

.red {
	color:red ;
}

.p-members {
    float: left;
    margin: 15px 0 11px;
    width: 100%;
    padding: 1px 0 10px;
    border-bottom: 1px solid #EFEFEF;
    border-top: 1px solid #eeeeee;
    background-color: #FFFFFF;
}
.p-members li:not(.hide-list){
    float: left;
    width: 70px;
    text-align: center;
    margin-right: 24px;
    margin-top: 20px;
    list-style: none;
    padding: 8px 0;
    border-radius: 5px;
}
.p-members li a{
	color: #2F2F2F;
}
.p-members li a:hover{
	color: #ffffff;
}
.p-members span {
    background-color: #E2E2E2;
    width: 100%;
    display: block;
    line-height: 3em;
    vertical-align: middle;
}

.w-width{
	width: 100px;
}
.w-title {
    clear: both;
    border-bottom: 1px solid #F0F0F0;
    padding: 8px 10px 8px 10px;
    background-color: #F7F7F7;
}
.w-title span{
	font-weight: normal;
    color: gray;
}
.ts{
	border: 1px solid #00BCD4 !important;
}
.zc{
	border: 1px solid #4CAF50 !important;
}
.yq{
	border: 1px solid #ff9800 !important;
}

.zc.selected{
	background-color: #4CAF50;	
}
.yq.selected{
	background-color: #ff9800;	
}
.ts.selected{
	background-color: #00BCD4;
}
.zc.selected>a{
	color: white !important;
}
.yq.selected>a{
    color: white !important;
}
.ts.selected>a{
    color: white !important;
}
.zc:hover {
    background-color: #4CAF50;
}
.yq:hover {
    background-color: #ff9800;
}
.ts:hover {
    background-color: #00BCD4;
}

.pp1 {
    clear: both;
    float: left;
    padding-left: 0 !important;
    margin-left: 10px;
}
.cross-week-task{
	background-color: #00BCD4;
}

.normal-task{
	background-color: #4CAF50; 
}

.delay-task{
	background-color:#ff9800;
}

.p-members .dropdown-menu {
	min-width:90px ;
}

.p-members .dropdown-menu .item{
	margin: 0px 10px 5px 10px;
    border-radius: 5px;
    padding:0;
}

.p-members .dropdown-menu .item a{
	text-align: center;
}

.rf-summary {
    margin-left: 40px;
    margin-right: 40px;
}

.rf-content .table .column {
	overflow: hidden;
	white-space: normal;
	text-overflow: ellipsis;
	text-align: center;
}

.rf-summary p{
	margin-bottom:0;
    font-size: 14px;
}
.wr-open.ng-enter{
  transition:500ms 500ms linear all;
  opacity:0;
}
.wr-open.ng-enter.ng-enter-active{
  opacity:1;
} 
.wr-open.ng-leave{
  transition:500ms linear all;
  opacity:1;
}
.wr-open.ng-leave.ng-leave-active{
  opacity:0;
}
.p-b-40{
	padding-bottom:40px !important ;
}
tr.miss-tr {
	color: red;
}
span.num {
	padding: 0 12px;
    font-weight: bold;
    vertical-align: baseline;
}