<style>
	.dropdown-menu .label-color {
		width: 13px;
		height: 13px;
		display: inline-block;
		border-radius: 3px;
		vertical-align: middle;
		margin: 0 3px 2px 0;
	}

	.num {
		font-size: 16px;
		padding: 5px;
		color: cadetblue;
	}

	.bug-block-search {
		display: inline-block;
		padding: 1px 2px;
		line-height: 20px;
		font-size: smaller;
		text-align: center;
		border-radius: 3px;
		margin-right: 5px;
		word-wrap: normal;
	}

	.lv-title .lv-title-a .myA {
		font-size: 16px;
	}

	.form-search {
		height: 30px;
		background: #eeeeee;
		border: none;
		margin-left: -10px;
		border-radius: 3px;
		width: 175px;
		padding-left: 25px;
		margin-right: 10px;
		font-size: 12px;
	}
</style>
<div class="container m-t-10" ng-controller="bugCtrl">
	<!-- <div class="block-header">
  </div> -->
	<div class="card" id="profile-main">
		<div class="card-header">
			<h2>
				BUG管理
				<small>
					New<span class="num">{{bugStatusCount.CREATED}}</span>&nbsp;&nbsp; 
					Open<span class="num">{{bugStatusCount.OPENED}}</span>&nbsp;&nbsp; 
					Reopen<span class="num">{{bugStatusCount.REOPEN}}</span>&nbsp;&nbsp; 
					Fixlater<span class="num">{{bugStatusCount.FIXED_LATER}}</span>&nbsp;&nbsp; 
					Rejected<span class="num">{{bugStatusCount.REJECT}}</span>&nbsp;&nbsp; 
					Fixed<span class="num">{{bugStatusCount.DONE}}</span>&nbsp;&nbsp; 
					Closed<span class="num">{{bugStatusCount.CLOSED}}</span>&nbsp;&nbsp; 
					总计<span class="num">{{bugStatusCountTotal}}</span>
				</small>
			</h2>
			<button class="btn bgm-blue btn-float waves-effect" ng-if="arcStatus=='1'" ng-click="create()">
				<i class="md md-add"></i>
			</button>
		</div>

		<div class="card-body clearfix">
			<div class="listview lv-bordered lv-lg">
				<div class="lv-header-alt">

					<label class="radio radio-inline m-r-5 m-t-10">
						<input type="radio" ng-model="search.type" ng-value="1" />
						<i class="input-helper"></i>我的
					</label>


					<label class="radio radio-inline m-r-5 m-t-10">
						<input type="radio" ng-model="search.type" ng-value="2" />
						<i class="input-helper"></i>全部
					</label>

					<i class="md md-search" style="font-size: 18px;color: #A9A9A9;position: relative;top: -5px;left: 18px;"></i>
					<input type="text" ng-model="search.title" class="form-search" placeholder="标题">

					<c2-dropdown bind-data="search.statusList" style="margin-left: -15px;" items="allStatusList" item-name="name"
					 multiple=true max-height="200" filter="false" clean-button="true">
						<div class="picker picker-white text-overflow" style="max-width: 400px; text-align: left;padding-right: 0px;">
							<i class="md md-bug-report"></i>
							<span ng-if="search.statusList.length==0">状态
								<i class="caret"></i>
							</span>
							<span class="bug-block-search bug-{{s.name | lowercase}}-color" ng-repeat="s in search.statusList">{{s.name}}</span>
						</div>
						<dropdown-item-template>
							<div>
								<span class="text bug-block bug-{{item.name}}">{{item.name}}</span>
								<span class="md md-check check-mark"></span>
							</div>
						</dropdown-item-template>
					</c2-dropdown>


					<c2-dropdown bind-data="search.assignToArray" style="margin-left: -15px;" items="projectUsers" item-name="userRealname"
					 multiple=true max-height="200" filter="true" filter-pinyin="true" clean-button="true">
						<div class="picker picker-white text-overflow" style="max-width:160px;padding-right: 0px;">
							<i class="md md-account-child"></i>
							<span ng-if="search.assignToArray.length==0">处理人</span>
							<span ng-repeat="user in search.assignToArray">{{user.userRealname}} </span>
							<span class="caret"></span>
						</div>
					</c2-dropdown>

					<c2-dropdown class="animate" style="margin-left: -15px;" style="margin-top: 3px;margin-left:10px;" bind-data="search.milestone"
					 items="allMileList" item-name="title" max-height="200" filter="true" clean-button="true">
						<div class="picker picker-white text-overflow" style="max-width:160px;">
							<i class="md md-av-timer"></i>
							<span ng-if="!search.milestone">里程碑</span>
							{{search.milestone.title}}
							<i class="caret"></i>
						</div>
					</c2-dropdown>

					<c2-dropdown style="margin-left: -15px;" style="margin-top: 3px;" tree-options="treeOptions" id="listModTree"
					 tree-nodes="zTreeNodes">
						<div class="picker picker-white">
							<i class="md md-extension"></i> {{module.name}} &nbsp;
							<span class="caret"></span>
						</div>
					</c2-dropdown>

					<c2-dropdown id="bugListProjectPlan" style="margin-left: -15px;" tree-options="treePlanOptions" tree-nodes="projectPlans"
					 max-height="300" clean-button="true" after-clean-event="cleanPlan()">
						<div class="picker picker-white">
							<i class="md md-description"></i>
							<span ng-if="!search.projectPlan.name">所属计划
							</span>
							{{search.projectPlan.name}}
							<i class="caret"></i>
						</div>
					</c2-dropdown>

					<c2-dropdown class="animate" style="margin-left: -15px;" style="margin-top: 3px;" bind-data="search.labels" items="allLabelList"
					 item-name="name" multiple=true max-height="200" filter="true" clean-button="true">
						<div class="picker picker-white text-overflow" style="max-width:140px;text-align:left;">
							<i class="md md-bookmark-outline"></i>
							<span ng-if="search.labels.length==0">标签
								<i class="caret"></i>
							</span>
							<span class="p-l-5 p-r-5 m-l-5 label-show" style="background-color: {{label.color}};color:{{getTextColor(label.color)}}"
							 ng-repeat="label in search.labels">{{label.name}}</span>
						</div>
						<dropdown-item-template>
							<div>
								<span class="label-color" style="background-color: {{item.color}};">&nbsp;</span>
								<span class="text">{{item.name}}</span>
								<span class="md md-check check-mark"></span>
							</div>
						</dropdown-item-template>
					</c2-dropdown>
				</div>

				<div class="lv-body">
					<div ng-if="sList.length==0" class="lv-item no-animate text-center p-20">没有查到任何BUG。</div>
					<div class="lv-item no-animate media" ng-repeat='s in sList'>

						<div class="media-body">
							<div class="lv-title" style="max-width: 80%;">
								<div style="max-width: 70%;float:left;" class="lv-title-a text-overflow">
									<b class="c-Reopen m-r-10">#{{s.no}}</b>
									<a data-ui-sref="project.bugs.bug({bugNo:s.no})" style="font-size:15px;font-family:微软雅黑;">{{s.title}}</a>
								</div>
								<div style="width: 200px; height:38px;float: left;margin-left:40px;" class="text-overflow">
									<span class="p-l-10 p-r-10 m-r-5 label-show text-overflow" ng-repeat="label in s.labels" ng-click="search.labels=[label]"
									 style="cursor:pointer;background-color: {{label.color}};color:{{getTextColor(label.color)}}; border-radius:2px;">{{label.name}}</span>
								</div>
							</div>
							<!-- <small class="lv-small">{{s.spec|limitTo:150}}</small> -->
							<ul class="lv-attrs">
								<div class="bug-block bug-{{fomatBugStatus(s.status)}}">{{fomatBugStatus(s.status)}}</div>
								<li style="border: 0;background-color: inherit;" title="创建时间">
									<i class="md md-today"></i> {{s.createTime|date:'yyyy-MM-dd HH:mm'}}</li>
								<li style="border: 0;background-color: inherit;" title="创建人">
									<i class="md md-person-outline"></i> {{s.createByRealname}}</li>
								<li style="border: 0;background-color: inherit;" title="处理人">
									<i class="md md-person"></i> {{s.assignedToRealname}}</li>
								<li style="border: 0;background-color: inherit;" title="优先级">
									<i class="md md-sort"></i>
									<span ng-if="s.pri==1">高</span>
									<span ng-if="s.pri==2">中</span>
									<span ng-if="s.pri==3">低</span>
								</li>
								<li style="border: 0;background-color: inherit;" ng-if="s.milestone" title="里程碑">
									<i class="md md-av-timer"></i> {{s.milestone.title}}</li>
							</ul>

							<div ng-if="s.status==1||s.status==3||s.status == 0 || s.status == 6 || s.status == 5" style="right: 10%;height: 30px;margin-top: -15px;top: 56%;position: absolute;">
								<button ng-show="s.status==1||s.status==3" class="btn btn1 simple-shadow btn-xs m-l-5" ng-click="acceptBug(s)">
									<i class="md md-play-arrow"></i> 开始</button>
								<button ng-show="s.status==0||s.status==5||s.status==6" class="btn btn5 simple-shadow btn-xs m-l-5" ng-click="reopenBug(s)">
									<i class="md md-lock-open"></i> 重新打开</button>
								<button ng-show="s.status==5||s.status==6" class="btn btn6 simple-shadow btn-xs m-l-5" ng-click="closeBug(s)">
									<i class="md md-not-interested"></i> 关闭</button>
							</div>

							<div class="lv-actions actions dropdown">
								<a href="" data-toggle="dropdown" aria-expanded="true">
									<i class="md md-more-vert"></i>
								</a>
								<ul class="dropdown-menu dropdown-menu-right">
									<li>
										<a data-ui-sref="project.bugs.bug({bugNo:{{s.no}},edit:1})">编辑</a>
									</li>
									<li data-ng-if="s.status==1">
										<a data-ng-click="delStory(s.id)">删除</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>

			<c2-pagination id="pageEle" total="total" page-size="10" on-page-change="forRefreshList(pageIndex)"></c2-pagination>
		</div>
	</div>

	<aside id="detail-panel" state-aside-container class="cOverflow" style="top:113px">
		<ui-view onload="stateOnload()"></ui-view>
	</aside>
</div>
<script type="text/javascript">
	angular.module("project").registerCtrl(
		'bugCtrl',
		function ($scope, $http, $state, $stateParams, $timeout, Messenger,
			Modal, $rootScope) {
			$scope.storyCUD = true;

			$scope.allStatusList = [
				{ value: 5, name: "Rejected", group: "待验证" },
				{ value: 6, name: "Fixed", group: "待验证" },
				{ value: 1, name: "New", group: "打开的" },
				{ value: 2, name: "Open", group: "打开的" },
				{ value: 3, name: "Reopen", group: "打开的" },
				{ value: 4, name: "FixLater" },
				{ value: 0, name: "Closed" }
			];

			$scope.tabList = [
				{
					title: '需求管理',
					url: 'project.projectPlan.story',
				}, {
					title: '任务管理',
					url: 'project.projectPlan.tasks',
				}, {
					title: 'BUG管理',
					url: 'project.projectPlan.bugs',
				},
			]

			$scope.tab = {
				title: 'BUG管理',
				url: 'project.projectPlan.bugs',
			};
			$scope.tabClick = function (item) {
				$state.go(item.url)
			}

			$scope.search = {
				type: 2,
				labels: [],
				title: '',
				milestone: undefined,
				statusList: [
					{ value: 1, name: "New" },
					{ value: 2, name: "Open" },
					{ value: 3, name: "Reopen" },
					{ value: 4, name: "FixLater" },
					{ value: 5, name: "Rejected" },
					{ value: 6, name: "Fixed" }
				],
				assignToArray: [],
			}


			$scope.getTextColor = function (color) {
				return getTextColorByBackColor(color);
			};

			$scope.$watch("search", function (v) {
				$scope.refreshList(1);
			}, true);

			$scope.$on("flushBugList", function (event, msg) {
				if (msg.pageNum) {
					$scope.refreshList(msg.pageNum);
				} else {
					$scope.refreshList();
				}
			});

			$http.post("ws/getProjectInfo", { projectId: $stateParams.project }).success(function (project) {
				if ($stateParams.project) {
					$http.get("ProjectPlan/all/project", {
						params: {
							projectId: $stateParams.project
						}
					}).success(function (data) {
						var rootNode = {
							id: 0,
							name: project.result.name,
						}
						data.push(rootNode)
						$scope.projectPlans = data;
						$timeout(function(){
							var ztree = $("#bugListProjectPlan").controller("c2-dropdown").getTree();
							ztree.expandNode(ztree.getNodes()[0], true, false, true);
						},400);
					})
				}
			})

			//plan	
			$scope.treePlanOptions = {
				view: {
					selectedMulti: false
				},
				data: {
					simpleData: {
						enable: true,
						pIdKey: "parent"
					}
				},
				callback: {
					onClick: function (event, treeId, treeNode, clickFlag) {
						$scope.$apply(function () {
							$scope.search.projectPlan = treeNode;
						});
						// $("#newModuleDropdown").controller("c2-dropdown").toggle();
					}
				}
			};
			
			$scope.cleanPlan = function(){
				$scope.search.projectPlan = undefined;
			}

			//项目归档状态
			$http.post("ws/getProjectInfo", { projectId: $stateParams.project }).success(function (data) {
				$scope.arcStatus = data.result.arcStatus;
			});

			var loadProjectMember = function () {
				//项目成员
				$http.post("ws/getMembers", { projectId: $stateParams.project }).success(function (data) {
					var taskMembers = [];
					angular.forEach(data.result, function (v, n) {
						taskMembers.push({ userId: v.userDTO.user_id, userRealname: v.userDTO.user_realname, icon: v.userDTO.remark1, userName: v.userDTO.user_name });
					});
					$scope.projectUsers = taskMembers;
				});
			}

			loadProjectMember();

			$scope.forRefreshList = function (pageIndex) {
				$scope.currentPage = pageIndex;
				$scope.refreshList(pageIndex);
			}

			$scope.refreshList = function (pageIndex) {
				//处理参数为空字符串的情况
				var mileid = ($scope.search.milestone && $scope.search.milestone.id != "") ? $scope.search.milestone.id : undefined;
				var moduleid = ($scope.module && $scope.module.id != "") ? $scope.module.id : undefined;
				var projectId = ($stateParams.project && $stateParams.project != "") ? $stateParams.project : undefined;
				var status = undefined;
				pageIndex = pageIndex ? pageIndex : 1;

				if ($scope.search.statusList && $scope.search.statusList.length == 0) {
					$scope.sList = [];
					$scope.total = 0;
					$timeout(function () {
						if ($("#pageEle").controller("c2Pagination")) {
							$("#pageEle").controller("c2Pagination").goPage(0);
						}
					}, 0);
					return;
				}
				var condition = {
					project: {
						id: projectId
					},
					milestone: {
						id: mileid
					},
					module: {
						id: moduleid
					},
					labels: $scope.search.labels,
					title: $scope.search.title,
				}

				if($scope.search.projectPlan){
					condition.projectPlan={
						id:$scope.search.projectPlan.id
					}
				}

				if ($scope.search.statusList && $scope.search.statusList.length != 7) {
					condition.statusList = $scope.search.statusList;
				}

				if ($scope.search.assignToArray && $scope.search.assignToArray.length > 0) {
					condition.assignedToList = $scope.search.assignToArray;
				}

				if ($scope.search.type == 1) {
					condition.createBy = $scope.subject.userName;
				}


				$http.post("ws/bug/getBugList", {
					condition: condition,
					pageable: {
						pageIndex: pageIndex
					}
				}).success(function (data) {
					$scope.sList = data.result.contents;

					$scope.bugStatusCount = {
						CREATED: 0,
						OPENED: 0,
						REOPEN: 0,
						FIXED_LATER: 0,
						REJECT: 0,
						DONE: 0,
						CLOSED: 0
					}

					$.extend($scope.bugStatusCount, data.result.bugStatusCount);

					$scope.bugStatusCountTotal = data.result.bugStatusCountTotal;
					var total = data.result.total;
					$scope.total = total;
					$timeout(function () {
						$("#pageEle").controller("c2Pagination").goPage(pageIndex);
					}, 0);
				});
			};

			$scope.mileMenuClick = function (item) {
				$scope.refreshList(1);
			};
			$scope.moduleMenuClick = function (item) {
				$scope.refreshList(1);
			};
			var projectId = $stateParams.project;//alert(projectId)
			$scope.mileList = [{
				title: "所有里程碑",
				id: ''
			}];
			$scope.mile = $scope.mileList[0];

			$http.post("ws/getAllLabelAndMilestone", {
				"projectId": projectId
			}).success(function (data) {
				if (data.result.allLabelList) $scope.allLabelList = data.result.allLabelList;
				if (data.result.allMilestoneList) $scope.allMileList = data.result.allMilestoneList;
			});


			$scope.treeOptions = {
				view: {
					selectedMulti: false
				},
				data: {
					simpleData: {
						idKey: "id",
						pIdKey: "parent",
						rootPId: 0,
						enable: true
					}
				},
				callback: {
					onClick: function (event, treeId, treeNode, clickFlag) {
						$scope.$apply(function () {
							$scope.module = treeNode;
						});
						//收拢下拉框
						//$scope.moduleDropdownController.toggle();
						$("#listModTree").controller("c2-dropdown").toggle();
						$scope.refreshList(1);
					}
				}
			};

			$http.post("ws/getModuleListByProject", {
				projectId: projectId
			}).success(function (data) {
				var modList = [{ id: undefined, parent: 0, name: "所有模块" }];
				$scope.zTreeNodes = modList.concat(data.result);
				$scope.module = $scope.zTreeNodes[0];
			});
			$scope.delStory = function (id) {
				$http.post("ws/bug/deleteBug", { bug: { id: id } }).success(function (data) {
					Messenger.post({
						'message': "操作成功"
					});
					$scope.refreshList(1);
				});
			};

			$scope.create = function () {
				//$state.go("project.addBug");
				Modal.open("project/bug/add.html", { instance: null, step: null }, {
					onClose: function () {
						$scope.refreshList(1);
					}
				})
			};

			if ($stateParams.init == 'add') {
				$scope.create();
			}

			$http.post("ws/isProjectPermitedByBatch", { projectId: $stateParams.project, permExprs: ["story_cud", "advancedSet_menu"] })
				.success(function (data, status, headers, config) {
					$scope.storyCUD = data.result["story_cud"];
					$scope.advancedSetMenu = data.result["advancedSet_menu"];
				});


			$scope.closeStoryFun = function (bug) {
				$http.post("ws/bug/changeBugStatus", {
					"bugId": bug.id,
					"status": 0
				}).success(function () {
					bug.status = 0;
				});
			}

			$scope.openStoryFun = function (bug) {
				$http.post("ws/bug/changeBugStatus", {
					"bugId": bug.id,
					"status": 3
				}).success(function () {
					bug.status = 3;
				});
			}

			$scope.fomatBugStatus = function (status) {
				switch (status) {
					case 0:
						return "Closed";
					case 1:
						return "New";
					case 2:
						return "Open";
					//								return "接受";
					case 3:
						return "Reopen";
					case 4:
						return "FixLater";
					case 5:
						return "Rejected";
					case 6:
						return "Fixed";
					default:
						return comment.type;
				}
			}

			$scope.acceptBug = function (bug) {
				if (bug.project.arcStatus == '0') {
					Messenger.error("项目【" + bug.project.name + "】合同编号在ERP不存在或已过时，请更改为最新编号后重试！")
					return;
				}
				Modal.open('project/task/create-modal.html', { bug: bug }, {
					size: "big",
					title: '创建任务',
					animation: true,
					onClose: function (data) {
						$scope.$emit("flushBugList", { pageNum: ($scope.currentPage ? $scope.currentPage : 1) });
					}
				
				});
			}

			$scope.reopenBug = function (bug) {
				Modal.open("project/task/bugReopen.html", { bugId: bug.id, projectId: bug.project.id }, {
					title: "BugReopen",
					onClose: function () {
						$scope.$emit("flushBugList", { pageNum: ($scope.currentPage ? $scope.currentPage : 1) });
					}
				});
			}
			$scope.closeBug = function (bug) {
				Modal.open("project/task/bugClose.html", { bugId: bug.id, projectId: bug.project.id }, {
					title: "BugClose",
					onClose: function () {
						$scope.$emit("flushBugList", { pageNum: ($scope.currentPage ? $scope.currentPage : 1) });
					}
				});
			}
		});
</script>