						<div class="t-view" style="margin-bottom: 5px;">
							<div class="tv-header media">请填写评论内容</div>
							<div class="tv-body"
								style="padding-top: 15px; padding-bottom: 0px; padding-left: 18px; background-color: #fff">
									<textarea ng-model="replyBug.text" c2-markdown-editor
										class="form-control" rows="5" rows="5" height="200"
										placeholder="需求描述"></textarea>
									<button style="margin-top: -40px;"
										class="btn btn-primary btn-sm" type="button"
										data-ng-click="submitCommnet()">提交</button>
							</div>
						</div>
						