.case-detail-test-card-description{
	width: 100%;
	word-wrap: break-word;
    overflow: hidden;
    max-height:90px;
}
.grade-list li {
    display: block;
    padding: 6px 12px;
    float: left;
    text-align: center;
    margin-right: 10px;
    border-radius: 2px;
    border: 1px solid #eee;
}
.grade-list li a {
    color: #000;
}
.grade-list li:hover {
    background: #4caf50;
    border: 1px solid #4caf50;
    cursor: pointer;
}
.grade-list li:hover a {
    color: #fff;
}

.select-grade {
    background: #4CAF50;
    border: 1px solid #4CAF50 !important;
}
.select-grade a {
    color: #fff !important;
}
.confirm-label {
    width: auto;
    padding-left: 25px;
    font-weight: 600;
    color: #333;
    padding-top: 12px !important;
    min-width: 105px;
}
.stage-commit {
    position: relative;
    top: -5px;
}
.border-e {
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}
.f-30{ 
	font-size: 30px;
}
.table > tbody > tr > td {
    vertical-align: middle; 
}