<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"><mapper namespace="com.chinacreator.c2.project.preference.PreferenceMapper">	

<!-- ElementID:column_sql,Generated=true -->
<sql id="column_sql">
		  c2_comunity_project_preference.prefer_id ,
		  c2_comunity_project_preference.prefer_name ,
		  c2_comunity_project_preference.prefer_content ,
		  c2_comunity_project_preference.prefer_desc ,
		  c2_comunity_project_preference.project_id 
</sql>

<!-- ElementID:whereClause_sql,Generated=true -->
<sql id="whereClause_sql">
	    <if test="preferId != null">and c2_comunity_project_preference.prefer_id = #{preferId}</if>
	    <if test="preferName != null">and c2_comunity_project_preference.prefer_name = #{preferName}</if>
	    <if test="preferContent != null">and c2_comunity_project_preference.prefer_content = #{preferContent}</if>
	    <if test="preferDesc != null">and c2_comunity_project_preference.prefer_desc = #{preferDesc}</if>
	    <if test="projectId != null">and c2_comunity_project_preference.project_id = #{projectId}</if>
</sql>


<!-- ElementID:PreferenceResult,Generated=true -->
<resultMap id="PreferenceResult" type="com.chinacreator.c2.project.preference.Preference">
	<id property="preferId" column="prefer_id"/>
	<result property="preferName" column="prefer_name"/>
	<result property="preferContent" column="prefer_content"/>
	<result property="preferDesc" column="prefer_desc"/>
	<result property="projectId" column="project_id"/>
</resultMap>



<!-- ElementID:insert,Generated=true -->
<insert id="insert" parameterType="com.chinacreator.c2.project.preference.Preference" useGeneratedKeys="true">
	<selectKey keyProperty="preferId" resultType="java.lang.Integer" order="AFTER">
        select LAST_INSERT_ID()
    </selectKey>
insert into c2_comunity_project_preference(
		<trim prefixOverrides=",">
		    <if test="preferName != null">prefer_name</if>
		    <if test="preferContent != null">,prefer_content</if>
		    <if test="preferDesc != null">,prefer_desc</if>
		    <if test="projectId != null">,project_id</if>
		</trim>
	 )
	 values (
		<trim prefixOverrides=",">
		    <if test="preferName != null">#{preferName,jdbcType=VARCHAR}</if>
		    <if test="preferContent != null">,#{preferContent,jdbcType=VARCHAR}</if>
		    <if test="preferDesc != null">,#{preferDesc,jdbcType=VARCHAR}</if>
		    <if test="projectId != null">,#{projectId,jdbcType=NUMERIC}</if>
        </trim>
	 )
</insert>

<!-- ElementID:count,Generated=true -->
<select id="count" parameterType="com.chinacreator.c2.project.preference.Preference" resultType="int">
	select count(*) from c2_comunity_project_preference 
		 <where>
			<include refid="whereClause_sql"/>
		</where>
</select>

<!-- ElementID:update,Generated=true -->
<update id="update" parameterType="com.chinacreator.c2.project.preference.Preference">
	update c2_comunity_project_preference
<set>
	<if test="preferName != null">prefer_name=#{preferName,jdbcType=VARCHAR},</if>
	<if test="preferContent != null">prefer_content=#{preferContent,jdbcType=VARCHAR},</if>
	<if test="preferDesc != null">prefer_desc=#{preferDesc,jdbcType=VARCHAR},</if>
	<if test="projectId != null">project_id=#{projectId,jdbcType=NUMERIC}</if>
</set>
<where>
	<choose>
        <when test="preferId != null">and prefer_id = #{preferId}</when>
        <otherwise>and prefer_id = </otherwise>
    </choose>
</where>
</update>

<!-- ElementID:update,Generated=true -->
<update id="updateNull" parameterType="map">
	update c2_comunity_project_preference
	<set>
		<trim suffixOverrides=",">
		    <if test="preferId==null">prefer_id = null,</if>
		    <if test="preferName==null">prefer_name = null,</if>
		    <if test="preferContent==null">prefer_content = null,</if>
		    <if test="preferDesc==null">prefer_desc = null,</if>
		    <if test="projectId==null">project_id = null,</if>
		</trim>
	</set>
	<where>
		    <if test="preferId != null">
		        and c2_comunity_project_preference.prefer_id = #{preferId}
		    </if>
		    <if test="preferName != null">
		        and c2_comunity_project_preference.prefer_name = #{preferName}
		    </if>
		    <if test="preferContent != null">
		        and c2_comunity_project_preference.prefer_content = #{preferContent}
		    </if>
		    <if test="preferDesc != null">
		        and c2_comunity_project_preference.prefer_desc = #{preferDesc}
		    </if>
		    <if test="projectId != null">
		        and c2_comunity_project_preference.project_id = #{projectId}
		    </if>
	</where>
</update>

<!-- ElementID:delete,Generated=true -->
<delete id="delete" parameterType="com.chinacreator.c2.project.preference.Preference">
    delete from c2_comunity_project_preference where 1=1 and prefer_id = #{preferId}
</delete>

<!-- ElementID:select,Generated=true -->
<select id="select" parameterType="com.chinacreator.c2.project.preference.Preference" resultMap="PreferenceResult">
	select 
		<include refid="column_sql"/>
	    from c2_comunity_project_preference 
		 <where>
			<include refid="whereClause_sql"/>
		</where>
</select>


<!-- ElementID:insertBatch,Generated=true -->
<insert id="insertBatch" parameterType="list" useGeneratedKeys="true">
	insert into c2_comunity_project_preference (prefer_name,prefer_content,prefer_desc,project_id)
			values 
			<foreach collection="list" item="entity" index="index" separator=",">
				(
		         #{entity.preferName,jdbcType = VARCHAR},
		         #{entity.preferContent,jdbcType = VARCHAR},
		         #{entity.preferDesc,jdbcType = VARCHAR},
		         #{entity.projectId,jdbcType = NUMERIC}
				)
</foreach>
</insert>



<!-- ElementID:selectAll,Generated=true -->
<select id="selectAll" resultMap="PreferenceResult">
	select 
		<include refid="column_sql"/>
	    from c2_comunity_project_preference 
</select>


<!-- ElementID:selectByPage,Generated=true -->
<select id="selectByPage" parameterType="com.chinacreator.c2.project.preference.Preference" resultMap="PreferenceResult">
	select 
		<include refid="column_sql"/>
	    from c2_comunity_project_preference 
		 <where>
			<include refid="whereClause_sql"/>
		</where>
</select>


<!-- ElementID:selectMany,Generated=true -->
<select id="selectMany" parameterType="list" resultMap="PreferenceResult">
select 
	<include refid="column_sql"/> 
	from c2_comunity_project_preference 
	where c2_comunity_project_preference.prefer_id in (
		select distinct prefer_id from c2_comunity_project_preference inner join
<foreach collection="list" item="entity" separator="inner join">
		(select 
			distinct prefer_id
			from c2_comunity_project_preference 
			<where>
	        <if test="entity.preferId != null">and c2_comunity_project_preference.prefer_id = #{entity.preferId}</if>
	        <if test="entity.preferName != null">and c2_comunity_project_preference.prefer_name = #{entity.preferName}</if>
	        <if test="entity.preferContent != null">and c2_comunity_project_preference.prefer_content = #{entity.preferContent}</if>
	        <if test="entity.preferDesc != null">and c2_comunity_project_preference.prefer_desc = #{entity.preferDesc}</if>
	        <if test="entity.projectId != null">and c2_comunity_project_preference.project_id = #{entity.projectId}</if>
			</where>
		) ${entity.tableAlias} using (prefer_id)
</foreach>
)
</select>
<!--Generated=true-->
<delete id="deleteBatch" parameterType="List">
	delete from c2_comunity_project_preference where prefer_id in
<trim prefix="(" suffix=")" suffixOverrides=",">
<foreach collection="list" item="entity" separator=",">
	#{entity.preferId}
</foreach>
</trim>
</delete>
<!--Generated=true-->
<select id="selectByID" parameterType="java.lang.Integer" resultMap="PreferenceResult">
	select 
		<include refid="column_sql"/>
	    from c2_comunity_project_preference 
		 where c2_comunity_project_preference.prefer_id = #{preferId,jdbcType=NUMERIC}
</select>
</mapper>