<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"><mapper namespace="com.chinacreator.c2.app.APPVersionMapper">	

<!-- ElementID:column_sql,Generated=true -->
<sql id="column_sql">
		  c2_app_version.id ,
		  c2_app_version.version ,
		  c2_app_version.ios_build ,
		  c2_app_version.ios_script_version ,
		  c2_app_version.ios_url ,
		  c2_app_version.android_build ,
		  c2_app_version.android_script_version ,
		  c2_app_version.android_url ,
		  c2_app_version.name ,
		  c2_app_version.android_min_version ,
		  c2_app_version.ios_min_version ,
		  c2_app_version.android_version ,
		  c2_app_version.ios_version 
</sql>

<!-- ElementID:whereClause_sql,Generated=true -->
<sql id="whereClause_sql">
	    <if test="id != null">and c2_app_version.id = #{id}</if>
	    <if test="version != null">and c2_app_version.version = #{version}</if>
	    <if test="iosBuild != null">and c2_app_version.ios_build = #{iosBuild}</if>
	    <if test="iosScriptVersion != null">and c2_app_version.ios_script_version = #{iosScriptVersion}</if>
	    <if test="iosUrl != null">and c2_app_version.ios_url = #{iosUrl}</if>
	    <if test="androidBuild != null">and c2_app_version.android_build = #{androidBuild}</if>
	    <if test="androidScriptVersion != null">and c2_app_version.android_script_version = #{androidScriptVersion}</if>
	    <if test="androidUrl != null">and c2_app_version.android_url = #{androidUrl}</if>
	    <if test="name != null">and c2_app_version.name = #{name}</if>
	    <if test="androidMinVersion != null">and c2_app_version.android_min_version = #{androidMinVersion}</if>
	    <if test="iosMinVersion != null">and c2_app_version.ios_min_version = #{iosMinVersion}</if>
	    <if test="androidVersion != null">and c2_app_version.android_version = #{androidVersion}</if>
	    <if test="iosVersion != null">and c2_app_version.ios_version = #{iosVersion}</if>
</sql>


<!-- ElementID:APPVersionResult,Generated=true -->
<resultMap id="APPVersionResult" type="com.chinacreator.c2.app.APPVersion">
	<id property="id" column="id"/>
	<result property="version" column="version"/>
	<result property="iosBuild" column="ios_build"/>
	<result property="iosScriptVersion" column="ios_script_version"/>
	<result property="iosUrl" column="ios_url"/>
	<result property="androidBuild" column="android_build"/>
	<result property="androidScriptVersion" column="android_script_version"/>
	<result property="androidUrl" column="android_url"/>
	<result property="name" column="name"/>
	<result property="androidMinVersion" column="android_min_version"/>
	<result property="iosMinVersion" column="ios_min_version"/>
	<result property="androidVersion" column="android_version"/>
	<result property="iosVersion" column="ios_version"/>
</resultMap>



<!-- ElementID:insert,Generated=true -->
<insert id="insert" parameterType="com.chinacreator.c2.app.APPVersion">
	insert into c2_app_version(
	         <if test="id != null">id</if>
	         <if test="version != null">,version</if>
	         <if test="iosBuild != null">,ios_build</if>
	         <if test="iosScriptVersion != null">,ios_script_version</if>
	         <if test="iosUrl != null">,ios_url</if>
	         <if test="androidBuild != null">,android_build</if>
	         <if test="androidScriptVersion != null">,android_script_version</if>
	         <if test="androidUrl != null">,android_url</if>
	         <if test="name != null">,name</if>
	         <if test="androidMinVersion != null">,android_min_version</if>
	         <if test="iosMinVersion != null">,ios_min_version</if>
	         <if test="androidVersion != null">,android_version</if>
	         <if test="iosVersion != null">,ios_version</if>
	 	 	 )
	 values (
	         <if test="id != null">#{id,jdbcType=CHAR}</if>
	         <if test="version != null">,#{version,jdbcType=VARCHAR}</if>
	         <if test="iosBuild != null">,#{iosBuild,jdbcType=NUMERIC}</if>
	         <if test="iosScriptVersion != null">,#{iosScriptVersion,jdbcType=NUMERIC}</if>
	         <if test="iosUrl != null">,#{iosUrl,jdbcType=VARCHAR}</if>
	         <if test="androidBuild != null">,#{androidBuild,jdbcType=NUMERIC}</if>
	         <if test="androidScriptVersion != null">,#{androidScriptVersion,jdbcType=NUMERIC}</if>
	         <if test="androidUrl != null">,#{androidUrl,jdbcType=VARCHAR}</if>
	         <if test="name != null">,#{name,jdbcType=VARCHAR}</if>
	         <if test="androidMinVersion != null">,#{androidMinVersion,jdbcType=VARCHAR}</if>
	         <if test="iosMinVersion != null">,#{iosMinVersion,jdbcType=VARCHAR}</if>
	         <if test="androidVersion != null">,#{androidVersion,jdbcType=VARCHAR}</if>
	         <if test="iosVersion != null">,#{iosVersion,jdbcType=VARCHAR}</if>
	 	 	 )
</insert>

<!-- ElementID:count,Generated=true -->
<select id="count" parameterType="com.chinacreator.c2.app.APPVersion" resultType="int">
	select count(*) from c2_app_version 
		 <where>
			<include refid="whereClause_sql"/>
		</where>
</select>

<!-- ElementID:update,Generated=true -->
<update id="update" parameterType="com.chinacreator.c2.app.APPVersion">
	update c2_app_version
<set>
	<if test="version != null">version=#{version,jdbcType=VARCHAR},</if>
	<if test="iosBuild != null">ios_build=#{iosBuild,jdbcType=NUMERIC},</if>
	<if test="iosScriptVersion != null">ios_script_version=#{iosScriptVersion,jdbcType=NUMERIC},</if>
	<if test="iosUrl != null">ios_url=#{iosUrl,jdbcType=VARCHAR},</if>
	<if test="androidBuild != null">android_build=#{androidBuild,jdbcType=NUMERIC},</if>
	<if test="androidScriptVersion != null">android_script_version=#{androidScriptVersion,jdbcType=NUMERIC},</if>
	<if test="androidUrl != null">android_url=#{androidUrl,jdbcType=VARCHAR},</if>
	<if test="name != null">name=#{name,jdbcType=VARCHAR},</if>
	<if test="androidMinVersion != null">android_min_version=#{androidMinVersion,jdbcType=VARCHAR},</if>
	<if test="iosMinVersion != null">ios_min_version=#{iosMinVersion,jdbcType=VARCHAR},</if>
	<if test="androidVersion != null">android_version=#{androidVersion,jdbcType=VARCHAR},</if>
	<if test="iosVersion != null">ios_version=#{iosVersion,jdbcType=VARCHAR}</if>
</set>
<where>
	<choose>
        <when test="id != null">and id = #{id}</when>
        <otherwise>and id = </otherwise>
    </choose>
</where>
</update>

<!-- ElementID:updateNull,Generated=true -->
<update id="updateNull" parameterType="map">
	update c2_app_version
	<set>
		<trim suffixOverrides=",">
		    <if test="version==null">version = null,</if>
		    <if test="iosBuild==null">ios_build = null,</if>
		    <if test="iosScriptVersion==null">ios_script_version = null,</if>
		    <if test="iosUrl==null">ios_url = null,</if>
		    <if test="androidBuild==null">android_build = null,</if>
		    <if test="androidScriptVersion==null">android_script_version = null,</if>
		    <if test="androidUrl==null">android_url = null,</if>
		    <if test="name==null">name = null,</if>
		    <if test="androidMinVersion==null">android_min_version = null,</if>
		    <if test="iosMinVersion==null">ios_min_version = null,</if>
		    <if test="androidVersion==null">android_version = null,</if>
		    <if test="iosVersion==null">ios_version = null,</if>
		</trim>
	</set>
	<where>
		<choose>
			<when test="id != null">and id = #{id}</when>
			<otherwise>and id = </otherwise>
		</choose>
	</where>
</update>

<!-- ElementID:delete,Generated=true -->
<delete id="delete" parameterType="com.chinacreator.c2.app.APPVersion">
    delete from c2_app_version where 1=1 and id = #{id}
</delete>

<!-- ElementID:select,Generated=true -->
<select id="select" parameterType="com.chinacreator.c2.app.APPVersion" resultMap="APPVersionResult">
	select 
		<include refid="column_sql"/>
	    from c2_app_version 
		 <where>
			<include refid="whereClause_sql"/>
		</where>
</select>


<!-- ElementID:insertBatch,Generated=true -->
<insert id="insertBatch" parameterType="list">
	insert into c2_app_version (id,version,ios_build,ios_script_version,ios_url,android_build,android_script_version,android_url,name,android_min_version,ios_min_version,android_version,ios_version) 
<foreach collection="list" item="entity" index="index" separator="union all">
		select 
		#{entity.id,jdbcType = CHAR},
				#{entity.version,jdbcType = VARCHAR},
				#{entity.iosBuild,jdbcType = NUMERIC},
				#{entity.iosScriptVersion,jdbcType = NUMERIC},
				#{entity.iosUrl,jdbcType = VARCHAR},
				#{entity.androidBuild,jdbcType = NUMERIC},
				#{entity.androidScriptVersion,jdbcType = NUMERIC},
				#{entity.androidUrl,jdbcType = VARCHAR},
				#{entity.name,jdbcType = VARCHAR},
				#{entity.androidMinVersion,jdbcType = VARCHAR},
				#{entity.iosMinVersion,jdbcType = VARCHAR},
				#{entity.androidVersion,jdbcType = VARCHAR},
				#{entity.iosVersion,jdbcType = VARCHAR}
		from dual
</foreach>
</insert>

<!-- ElementID:deleteBatch,Generated=true -->
<delete id="deleteBatch" parameterType="List">
	delete from c2_app_version where id in
<trim prefix="(" suffix=")" suffixOverrides=",">
<foreach collection="list" item="entity" separator=",">
	#{entity.id}
</foreach>
</trim>
</delete>

<!-- ElementID:selectAll,Generated=true -->
<select id="selectAll" resultMap="APPVersionResult">
	select 
		<include refid="column_sql"/>
	    from c2_app_version 
</select>

<!-- ElementID:selectByID,Generated=true -->
<select id="selectByID" parameterType="java.lang.String" resultMap="APPVersionResult">
	select 
		<include refid="column_sql"/>
	    from c2_app_version 
		 where c2_app_version.id = #{id,jdbcType=CHAR}
</select>

<!-- ElementID:selectByPage,Generated=true -->
<select id="selectByPage" parameterType="com.chinacreator.c2.app.APPVersion" resultMap="APPVersionResult">
	select 
		<include refid="column_sql"/>
	    from c2_app_version 
		 <where>
			<include refid="whereClause_sql"/>
		</where>
</select>


<!-- ElementID:selectMany,Generated=true -->
<select id="selectMany" parameterType="list" resultMap="APPVersionResult">
select 
	<include refid="column_sql"/> 
	from c2_app_version 
	where c2_app_version.id in (
		select distinct id from c2_app_version inner join
<foreach collection="list" item="entity" separator="inner join">
		(select 
			distinct id
			from c2_app_version 
			<where>
	        <if test="entity.id != null">and c2_app_version.id = #{entity.id}</if>
	        <if test="entity.version != null">and c2_app_version.version = #{entity.version}</if>
	        <if test="entity.iosBuild != null">and c2_app_version.ios_build = #{entity.iosBuild}</if>
	        <if test="entity.iosScriptVersion != null">and c2_app_version.ios_script_version = #{entity.iosScriptVersion}</if>
	        <if test="entity.iosUrl != null">and c2_app_version.ios_url = #{entity.iosUrl}</if>
	        <if test="entity.androidBuild != null">and c2_app_version.android_build = #{entity.androidBuild}</if>
	        <if test="entity.androidScriptVersion != null">and c2_app_version.android_script_version = #{entity.androidScriptVersion}</if>
	        <if test="entity.androidUrl != null">and c2_app_version.android_url = #{entity.androidUrl}</if>
	        <if test="entity.name != null">and c2_app_version.name = #{entity.name}</if>
	        <if test="entity.androidMinVersion != null">and c2_app_version.android_min_version = #{entity.androidMinVersion}</if>
	        <if test="entity.iosMinVersion != null">and c2_app_version.ios_min_version = #{entity.iosMinVersion}</if>
	        <if test="entity.androidVersion != null">and c2_app_version.android_version = #{entity.androidVersion}</if>
	        <if test="entity.iosVersion != null">and c2_app_version.ios_version = #{entity.iosVersion}</if>
			</where>
		) ${entity.tableAlias} using (id)
</foreach>
)
</select>
</mapper>