<style>
.scrum-panel-body {
    position: absolute;
    top: 65px;
    width: 500px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    overflow-y: auto;
}
.scrum-filter-wrap .filter-input-wrap {
    padding: 0 20px;
}
.filter-input-wrap, .scrum-filter-executor {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top:10px;
}
.scrum-filter-wrap .filter-input-wrap .filter-title {
    padding: 10px 0;
    color: #333;
}
/* .scrum-filter-wrap .filter-input-wrap:after {
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: -18px;
    content: '';
    border-bottom: 1px solid #EEEEEE;
    z-index: 2;
} */
.scrum-filter-wrap .filter-input-wrap .filter-title .icon {
    margin-right: 10px;
    color: #808080;
}
.filter-clear-handler {
    display: none;
    color: #3da8f5;
    font-size: 14px;
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 2;
}
.filter-input-wrap input {
   	height: 38px;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    padding-left: 10px;
}
.scrum-filter-tag .filter-title {
    margin: 15px 20px 8px;
}
.list {
    padding: 0;
    list-style: none;
}
.list > li {
    position: relative;
    line-height: 30px;
}
.scrum-panel .list li.selected:after {
    position: absolute;
    top: 8px;
    right: 20px;
    font-size: 14px;
    line-height: 24px;
    color: #A6A6A6;
    content: "\f26b"; 
}
.task-detail-header{
    padding: 0 15px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}
.task-tasklist-stage-wrap {
    position: relative;
    margin: 0px 5px 16px;
}
.bug-block-search {
    display: inline-block;
    padding: 1px 2px;
    line-height: 20px;
    font-size: smaller;
    text-align: center;
    border-radius: 3px;
    margin-right: 5px;
    word-wrap: normal;
}
.scrum-panel-title {
    margin: 0 20px;
    font-size: 15px;
    font-weight: 600;
    color: #333;
    border-bottom: 1px solid #e5e5e5;
    line-height: 47px;
}
.scrum-panel-title .md-close {
    width: 30px;
    right: 0;
    cursor: pointer;
}
.md-close.close-handler:before {
    position: relative;
    right: -6px;
    font-size: 18px;
    color: #a6a6a6;
}
.default-filters-wrap {
    padding: 20px 0;
}
.screen-title{
	color:#333;
	padding:10px 20px;
}
.ico-drop{
	position: relative;
	top:3px;
}
</style>

<div data-ng-controller="bugSearchController">
	<div class="scrum-panel-body f-14"> 
		<div class="scrum-filter-wrap"> 
			<div class="scrum-panel-title">视图
				<div class="pull-right"><a class="md md-close close-handler" ng-click="close()"></a></div>
			</div> 
			<div class="filter-input-wrap m-t-0"> 
				<div class="filter-title f-14"> 
					<span class="md md-search m-r-5"></span> BUG筛选 
				</div> 
				<input ng-model="debounce.title" placeholder="查找相关BUG"> 
			</div> 
			<div class="default-filters-wrap">
			    <div class="scrum-filter-executor p-l-20 p-r-20 m-t-0">
					<c2-dropdown id="projectDropdown" bind-data="debounce.projects" item-click="projectClick(debounce.projects)" items="projects" item-name="name" class="animate" max-height="200" multiple=true filter="true" >
						<div class="screen-title p-l-0 p-r-0 text-overflow">
							<i class="md md-apps m-r-5"></i> 
							<span ng-if="debounce.projects.length==0">选择项目 </span>
							<span class="p-r-5" ng-repeat="p in debounce.projects">{{p.name}}</span>
							<span class="ico-drop pull-right">
									<i class="md md-expand-more f-18"></i>
							</span>
						</div>
					</c2-dropdown>
				</div>
				<div class="scrum-filter-executor p-l-20 p-r-20 m-t-0">
					<c2-dropdown bind-data="debounce.statusList" items="allStatusList"
						item-name="name" multiple=true max-height="200" filter="false"
						clean-button="true">
						<div class="screen-title p-l-0 p-r-0 text-overflow">
							<i class="md md-bug-report m-r-5"></i><span
								ng-if="debounce.statusList.length==0">状态 </span>
							<span class="bug-block-search bug-{{s.name | lowercase}}-color" ng-repeat="s in debounce.statusList">{{s.name}}</span>
							<span class="ico-drop pull-right">
									<i class="md md-expand-more f-18"></i>
							</span>
						</div>
						<dropdown-item-template>
						<div>
							<span class="text bug-block bug-{{item.name}}">{{item.name}}</span> <span
								class="md md-check check-mark"></span>
						</div>
						</dropdown-item-template> 
					</c2-dropdown>
				</div>
				<div class="scrum-filter-executor p-l-20 p-r-20 m-t-0">
					<c2-dropdown bind-data="debounce.labels" items="projectLabels" item-name="name" class="animate" multiple=true max-height="200" filter="true" clean-button="true">
						<div class="screen-title p-l-0 p-r-0 text-overflow">
							<i class="md md-bookmark-outline m-r-5"></i> 
							<span ng-if="debounce.labels.length==0">选择标签 </span>
							<span class="p-l-5 p-r-5 m-l-5 label-show" ng-style="label.backgroundStyle" ng-repeat="label in debounce.labels">{{label.name}}</span>
							<span class="ico-drop pull-right">
									<i class="md md-expand-more f-18"></i>
							</span>
						</div>
						<dropdown-item-template>
							<div>
							<span class="label-color" style="background-color: {{item.color}};">&nbsp;</span>
							<span class="text">{{item.name}}</span>
							<span class="md md-check check-mark"></span>
							</div>
						</dropdown-item-template>
					</c2-dropdown>
				</div>
			</div> 
		</div>
	</div>
</div>

<script>
developmentCenter.registerCtrl('bugSearchController',function($stateParams,debounce,$scope,Modal,$http,Messenger){
	$scope.allStatusList=[
		{value:1,name:"New"},
		{value:2,name:"Open"},
		{value:6,name:"Fixed"},
		{value:3,name:"Reopen"},
		{value:4,name:"FixLater"},
		{value:5,name:"Rejected"},
		{value:0,name:"Closed"}
	];
	
	//我所拥有的项目
	$http.post("ws/project/myprojects",{}).success(function(data){
		$scope.projects = data.result;
		//标签
		$http.post("ws/workbench/getLabelByProjects",{projects:$scope.projects}).success(function(data){
			angular.forEach(data.result,function(v,n){
				v.backgroundStyle = {"background-color":v.color,"color":getTextColorByBackColor(v.color)};
			});
			$scope.projectLabels = angular.copy(data.result);
		});
	});
	
	
	$scope.projectClick=function(projects){
		$http.post("ws/workbench/getLabelByProjects",{projects:projects}).success(function(data){
			angular.forEach(data.result,function(v,n){
				v.backgroundStyle = {"background-color":v.color,"color":getTextColorByBackColor(v.color)};
			});
			$scope.projectLabels = angular.copy(data.result);
			$scope.debounce.labels = [];
		});
	}
	$scope.$watch("search",function(v,ov){
		if(v!=ov){
			$scope.$emit("bugSearchBo", {search:$scope.search});
		}
	},700);
	
	var debounceSearchFn = debounce(function(ds){
		angular.extend($scope.search, angular.copy(ds));
	},600);
	
	$scope.$watch("debounce",function(v){
		debounceSearchFn(v);
	},true);
	
	$scope.close=function(){
		$scope.$parent.$parent.$parent.showView = false;
		$('aside.chat').removeClass('toggled') ;
		
	}
	
});
</script>