<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"><mapper namespace="com.chinacreator.c2.analysis.StatisticAnalysisMapper">	

<!-- ElementID:column_sql,Generated=true -->
<sql id="column_sql">
		  C2_STATISTIC_ANALYSIS.id ,
		  C2_STATISTIC_ANALYSIS.name ,
		  C2_STATISTIC_ANALYSIS.create_by 
</sql>

<!-- ElementID:whereClause_sql,Generated=true -->
<sql id="whereClause_sql">
	    <if test="id != null">and C2_STATISTIC_ANALYSIS.id = #{id}</if>
	    <if test="name != null">and C2_STATISTIC_ANALYSIS.name = #{name}</if>
	    <if test="createBy != null">and C2_STATISTIC_ANALYSIS.create_by = #{createBy}</if>
</sql>


<!-- ElementID:StatisticAnalysisResult,Generated=true -->
<resultMap id="StatisticAnalysisResult" type="com.chinacreator.c2.analysis.StatisticAnalysis">
	<id property="id" column="id"/>
	<result property="name" column="name"/>
	<result property="createBy" column="create_by"/>
</resultMap>





<!-- ElementID:insert,Generated=true -->
<insert id="insert" parameterType="com.chinacreator.c2.analysis.StatisticAnalysis" useGeneratedKeys="true">
	<selectKey keyProperty="id" resultType="java.lang.Integer" order="AFTER">
        select LAST_INSERT_ID()
    </selectKey>
insert into C2_STATISTIC_ANALYSIS(
		<trim prefixOverrides=",">
		    <if test="name != null">name</if>
		    <if test="createBy != null">,create_by</if>
		</trim>
	 )
	 values (
		<trim prefixOverrides=",">
		    <if test="name != null">#{name,jdbcType=VARCHAR}</if>
		    <if test="createBy != null">,#{createBy,jdbcType=VARCHAR}</if>
        </trim>
	 )
</insert>

<!-- ElementID:count,Generated=true -->
<select id="count" parameterType="com.chinacreator.c2.analysis.StatisticAnalysis" resultType="int">
	select count(*) from C2_STATISTIC_ANALYSIS 
		 <where>
			<include refid="whereClause_sql"/>
		</where>
</select>

<!-- ElementID:update,Generated=true -->
<update id="update" parameterType="com.chinacreator.c2.analysis.StatisticAnalysis">
	update C2_STATISTIC_ANALYSIS
<set>
	<if test="name != null">name=#{name,jdbcType=VARCHAR},</if>
	<if test="createBy != null">create_by=#{createBy,jdbcType=VARCHAR}</if>
</set>
<where>
	<choose>
        <when test="id != null">and id = #{id}</when>
        <otherwise>and id = </otherwise>
    </choose>
</where>
</update>

<!-- ElementID:updateNull,Generated=true -->
<update id="updateNull" parameterType="map">
	update C2_STATISTIC_ANALYSIS
	<set>
		<trim suffixOverrides=",">
		    <if test="name==null">name = null,</if>
		    <if test="createBy==null">create_by = null,</if>
		</trim>
	</set>
	<where>
		<choose>
			<when test="id != null">and id = #{id}</when>
			<otherwise>and id = </otherwise>
		</choose>
	</where>
</update>

<!-- ElementID:delete,Generated=true -->
<delete id="delete" parameterType="com.chinacreator.c2.analysis.StatisticAnalysis">
    delete from C2_STATISTIC_ANALYSIS where 1=1 and id = #{id}
</delete>

<!-- ElementID:select,Generated=true -->
<select id="select" parameterType="com.chinacreator.c2.analysis.StatisticAnalysis" resultMap="StatisticAnalysisResult">
	select 
		<include refid="column_sql"/>
	    from C2_STATISTIC_ANALYSIS 
		 <where>
			<include refid="whereClause_sql"/>
		</where>
</select>


<!-- ElementID:insertBatch,Generated=true -->
<insert id="insertBatch" parameterType="list" useGeneratedKeys="true">
	insert into C2_STATISTIC_ANALYSIS (name,create_by)
			values 
			<foreach collection="list" item="entity" index="index" separator=",">
				(
		         #{entity.name,jdbcType = VARCHAR},
		         #{entity.createBy,jdbcType = VARCHAR}
				)
</foreach>
</insert>



<!-- ElementID:selectAll,Generated=true -->
<select id="selectAll" resultMap="StatisticAnalysisResult">
	select 
		<include refid="column_sql"/>
	    from C2_STATISTIC_ANALYSIS 
</select>


<!-- ElementID:selectByPage,Generated=true -->
<select id="selectByPage" parameterType="com.chinacreator.c2.analysis.StatisticAnalysis" resultMap="StatisticAnalysisResult">
	select 
		<include refid="column_sql"/>
	    from C2_STATISTIC_ANALYSIS 
		 <where>
			<include refid="whereClause_sql"/>
		</where>
</select>


<!-- ElementID:selectMany,Generated=true -->
<select id="selectMany" parameterType="list" resultMap="StatisticAnalysisResult">
select 
	<include refid="column_sql"/> 
	from C2_STATISTIC_ANALYSIS 
	where C2_STATISTIC_ANALYSIS.id in (
		select distinct id from C2_STATISTIC_ANALYSIS inner join
<foreach collection="list" item="entity" separator="inner join">
		(select 
			distinct id
			from C2_STATISTIC_ANALYSIS 
			<where>
	        <if test="entity.id != null">and C2_STATISTIC_ANALYSIS.id = #{entity.id}</if>
	        <if test="entity.name != null">and C2_STATISTIC_ANALYSIS.name = #{entity.name}</if>
	        <if test="entity.createBy != null">and C2_STATISTIC_ANALYSIS.create_by = #{entity.createBy}</if>
			</where>
		) ${entity.tableAlias} using (id)
</foreach>
)
</select>




<!--Generated=true-->
<delete id="deleteBatch" parameterType="List">
	delete from C2_STATISTIC_ANALYSIS where id in
<trim prefix="(" suffix=")" suffixOverrides=",">
<foreach collection="list" item="entity" separator=",">
	<choose>
		<when test="@com.chinacreator.c2.dao.util.EntityBeanUtil@isEntityObj(entity)">#{entity.id}</when>
		<otherwise>#{entity}</otherwise>
	</choose>
</foreach>
</trim>
</delete>
<!--Generated=true-->
<select id="selectByID" parameterType="java.lang.Integer" resultMap="StatisticAnalysisResult">
	select 
		<include refid="column_sql"/>
	    from C2_STATISTIC_ANALYSIS 
		 where C2_STATISTIC_ANALYSIS.id = #{id,jdbcType=NUMERIC}
</select>
<!-- ElementID:selectUnion,Generated=true -->
<select id="selectUnion" parameterType="list" resultMap="StatisticAnalysisResult">
select 
	<include refid="column_sql"/> 
	from C2_STATISTIC_ANALYSIS 
	 INNER JOIN
<foreach collection="list" item="entity" separator="UNION" open="(" close=")">
		SELECT 
			 id
		FROM C2_STATISTIC_ANALYSIS 
			<where>
	        <if test="entity.id != null">and C2_STATISTIC_ANALYSIS.id = #{entity.id}</if>
	        <if test="entity.name != null">and C2_STATISTIC_ANALYSIS.name = #{entity.name}</if>
	        <if test="entity.createBy != null">and C2_STATISTIC_ANALYSIS.create_by = #{entity.createBy}</if>
			</where>
</foreach>
	c2_temp_table ON C2_STATISTIC_ANALYSIS.id = c2_temp_table.id
</select>

</mapper>