<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"><mapper namespace="com.chinacreator.c2.project.plan.PlanMapper">	

<!-- ElementID:column_sql,Generated=true -->
<sql id="column_sql">
		  c2_community_case_plan.id ,
		  c2_community_case_plan.name ,
		  c2_community_case_plan.milestone_id ,
		  c2_community_case_plan.version ,
		  c2_community_case_plan.desc_ ,
		  c2_community_case_plan.user_name ,
		  c2_community_case_plan.ctime ,
		  c2_community_case_plan.project_id 
</sql>

<!-- ElementID:whereClause_sql,Generated=true -->
<sql id="whereClause_sql">
	    <if test="id != null">and c2_community_case_plan.id = #{id}</if>
	    <if test="name != null">and c2_community_case_plan.name = #{name}</if>
	    <if test="milestoneId != null">and c2_community_case_plan.milestone_id = #{milestoneId}</if>
	    <if test="version != null">and c2_community_case_plan.version = #{version}</if>
	    <if test="desc != null">and c2_community_case_plan.desc_ = #{desc}</if>
	    <if test="userName != null">and c2_community_case_plan.user_name = #{userName}</if>
	    <if test="ctime != null">and c2_community_case_plan.ctime = #{ctime}</if>
	    <if test="projectId != null">and c2_community_case_plan.project_id = #{projectId}</if>
</sql>


<!-- ElementID:PlanResult,Generated=true -->
<resultMap id="PlanResult" type="com.chinacreator.c2.project.plan.Plan">
	<id property="id" column="id"/>
	<result property="name" column="name"/>
	<result property="milestoneId" column="milestone_id"/>
	<result property="version" column="version"/>
	<result property="desc" column="desc_"/>
	<result property="userName" column="user_name"/>
	<result property="ctime" column="ctime"/>
	<result property="projectId" column="project_id"/>
</resultMap>

<resultMap id="planMapResult" type="java.util.HashMap">
	<id property="id" column="id" javaType="java.lang.Integer"/>
	<result property="name" column="name"/>
	<result property="milestoneId" column="milestone_id"/>
	<result property="version" column="version"/>
	<result property="desc" column="desc_"/>
	<result property="userId" column="user_id"/>
	<result property="ctime" column="ctime"/>
	<result property="projectId" column="project_id"/>
	<association property="milestone" column="T1_id" javaType="java.lang.Integer" resultMap="MilestoneResult" columnPrefix="T1_"/>	
</resultMap>

<!--Generated=true-->
<resultMap id="MilestoneResult" type="com.chinacreator.c2.project.milestone.Milestone">
	<id property="id" column="id"/>
	<result property="projectId" column="project_id"/>
	<result property="title" column="title"/>
	<result property="description" column="description"/>
	<result property="status" column="status"/>
	<result property="opendate" column="opendate"/>
	<result property="closedate" column="closedate"/>
	<result property="enddate" column="enddate"/>
</resultMap>


<!-- ElementID:count,Generated=true -->
<select id="count" parameterType="com.chinacreator.c2.project.plan.Plan" resultType="int">
	select count(*) from c2_community_case_plan 
		 <where>
			<include refid="whereClause_sql"/>
		</where>
</select>

<!-- ElementID:update,Generated=true -->
<update id="update" parameterType="com.chinacreator.c2.project.plan.Plan">
	update c2_community_case_plan
<set>
	<if test="name != null">name=#{name,jdbcType=VARCHAR},</if>
	<if test="milestoneId != null">milestone_id=#{milestoneId,jdbcType=NUMERIC},</if>
	<if test="version != null">version=#{version,jdbcType=VARCHAR},</if>
	<if test="desc != null">desc_=#{desc,jdbcType=VARCHAR},</if>
	<if test="userName != null">user_name=#{userName,jdbcType=VARCHAR},</if>
	<if test="ctime != null">ctime=#{ctime,jdbcType=TIMESTAMP},</if>
	<if test="projectId != null">project_id=#{projectId,jdbcType=NUMERIC}</if>
</set>
<where>
	<choose>
        <when test="id != null">and id = #{id}</when>
        <otherwise>and id = </otherwise>
    </choose>
</where>
</update>

<!-- ElementID:updateNull,Generated=true -->
<update id="updateNull" parameterType="map">
	update c2_community_case_plan
	<set>
		<trim suffixOverrides=",">
		    <if test="name==null">name = null,</if>
		    <if test="milestoneId==null">milestone_id = null,</if>
		    <if test="version==null">version = null,</if>
		    <if test="desc==null">desc_ = null,</if>
		    <if test="userName==null">user_name = null,</if>
		    <if test="ctime==null">ctime = null,</if>
		    <if test="projectId==null">project_id = null,</if>
		</trim>
	</set>
	<where>
		<choose>
			<when test="id != null">and id = #{id}</when>
			<otherwise>and id = </otherwise>
		</choose>
	</where>
</update>

<!-- ElementID:delete,Generated=true -->
<delete id="delete" parameterType="com.chinacreator.c2.project.plan.Plan">
    delete from c2_community_case_plan where 1=1 and id = #{id}
</delete>

<!-- ElementID:select,Generated=true -->
<select id="select" parameterType="com.chinacreator.c2.project.plan.Plan" resultMap="PlanResult">
	select 
		<include refid="column_sql"/>
	    from c2_community_case_plan 
		 <where>
			<include refid="whereClause_sql"/>
		</where>
</select>


<!-- ElementID:deleteBatch,Generated=true -->
<delete id="deleteBatch" parameterType="List">
	delete from c2_community_case_plan where id in
<trim prefix="(" suffix=")" suffixOverrides=",">
<foreach collection="list" item="entity" separator=",">
	#{entity.id}
</foreach>
</trim>
</delete>

<!-- ElementID:selectAll,Generated=true -->
<select id="selectAll" resultMap="PlanResult">
	select 
		<include refid="column_sql"/>
	    from c2_community_case_plan 
</select>




<!-- ElementID:selectByID,Generated=true -->
<select id="selectByID" parameterType="java.lang.Integer" resultMap="PlanResult">
	select 
		<include refid="column_sql"/>
	    from c2_community_case_plan 
		 where c2_community_case_plan.id = #{id,jdbcType=NUMERIC}
</select>

<!-- ElementID:selectByPage,Generated=true -->
<select id="selectByPage" parameterType="com.chinacreator.c2.project.plan.Plan" resultMap="PlanResult">
	select 
		<include refid="column_sql"/>
	    from c2_community_case_plan 
		 <where>
			<include refid="whereClause_sql"/>
		</where>
</select>


<!-- ElementID:selectMany,Generated=true -->
<select id="selectMany" parameterType="list" resultMap="PlanResult">
select 
	<include refid="column_sql"/> 
	from c2_community_case_plan 
	where c2_community_case_plan.id in (
		select distinct id from c2_community_case_plan inner join
<foreach collection="list" item="entity" separator="inner join">
		(select 
			distinct id
			from c2_community_case_plan 
			<where>
	        <if test="entity.id != null">and c2_community_case_plan.id = #{entity.id}</if>
	        <if test="entity.name != null">and c2_community_case_plan.name = #{entity.name}</if>
	        <if test="entity.milestoneId != null">and c2_community_case_plan.milestone_id = #{entity.milestoneId}</if>
	        <if test="entity.version != null">and c2_community_case_plan.version = #{entity.version}</if>
	        <if test="entity.desc != null">and c2_community_case_plan.desc_ = #{entity.desc}</if>
	        <if test="entity.userName != null">and c2_community_case_plan.user_name = #{entity.userName}</if>
	        <if test="entity.ctime != null">and c2_community_case_plan.ctime = #{entity.ctime}</if>
	        <if test="entity.projectId != null">and c2_community_case_plan.project_id = #{entity.projectId}</if>
			</where>
		) ${entity.tableAlias} using (id)
</foreach>
)
</select>

<!-- ElementID:insert,Generated=true -->
<insert id="insert" parameterType="com.chinacreator.c2.project.plan.Plan" useGeneratedKeys="true">
	<selectKey keyProperty="id" resultType="java.lang.Integer" order="AFTER">
        select LAST_INSERT_ID()
    </selectKey>
insert into c2_community_case_plan(
		<trim prefixOverrides=",">
		    <if test="name != null">name</if>
		    <if test="milestoneId != null">,milestone_id</if>
		    <if test="version != null">,version</if>
		    <if test="desc != null">,desc_</if>
		    <if test="userName != null">,user_name</if>
		    <if test="ctime != null">,ctime</if>
		    <if test="projectId != null">,project_id</if>
		</trim>
	 )
	 values (
		<trim prefixOverrides=",">
		    <if test="name != null">#{name,jdbcType=VARCHAR}</if>
		    <if test="milestoneId != null">,#{milestoneId,jdbcType=NUMERIC}</if>
		    <if test="version != null">,#{version,jdbcType=VARCHAR}</if>
		    <if test="desc != null">,#{desc,jdbcType=VARCHAR}</if>
		    <if test="userName != null">,#{userName,jdbcType=VARCHAR}</if>
		    <if test="ctime != null">,#{ctime,jdbcType=TIMESTAMP}</if>
		    <if test="projectId != null">,#{projectId,jdbcType=NUMERIC}</if>
        </trim>
	 )
</insert>

<!-- ElementID:insertBatch,Generated=true -->
<insert id="insertBatch" parameterType="list" useGeneratedKeys="true">
	insert into c2_community_case_plan (name,milestone_id,version,desc_,user_name,ctime,project_id)
			values 
			<foreach collection="list" item="entity" index="index" separator=",">
				(
		         #{entity.name,jdbcType = VARCHAR},
		         #{entity.milestoneId,jdbcType = NUMERIC},
		         #{entity.version,jdbcType = VARCHAR},
		         #{entity.desc,jdbcType = VARCHAR},
		         #{entity.userName,jdbcType = VARCHAR},
		         #{entity.ctime,jdbcType = TIMESTAMP},
		         #{entity.projectId,jdbcType = NUMERIC}
				)
</foreach>
</insert>

<select id="selectPlanListByPage" parameterType="java.util.HashMap" resultMap="planMapResult">
	select 
		c2_comunity_milestone.id T1_id ,
		  c2_comunity_milestone.project_id T1_project_id ,
		  c2_comunity_milestone.title T1_title ,
		  c2_comunity_milestone.description T1_description ,
		  c2_comunity_milestone.status T1_status ,
		  c2_comunity_milestone.opendate T1_opendate ,
		  c2_comunity_milestone.closedate T1_closedate ,
		  c2_comunity_milestone.enddate T1_enddate,
		<include refid="column_sql"/> 
	    from c2_community_case_plan
	    left outer join c2_comunity_milestone on c2_community_case_plan.milestone_id=c2_comunity_milestone.id
		<where>
		    <if test="search.name != null">and c2_community_case_plan.name like '%${search.name}%'</if>
		    <if test="search.milestone != null">and c2_community_case_plan.milestone_id = #{search.milestone.id}</if>
		    <if test="search.version != null">and c2_community_case_plan.version = #{search.version.title}</if>
		    <if test="projectId != null">and c2_community_case_plan.project_id = #{projectId}</if>
		</where>
</select>

<select id="getSuccessInstanceCount" parameterType="java.util.HashMap" resultType="java.util.HashMap">
	select count(*) count from c2_community_case_instance_result where result=#{result}
	and ctime in (
		select max(r.ctime) from c2_community_case_instance_result r,c2_community_case_instance i
	where r.instance_id = i.id and i.plan_id=#{id} group by i.id
	) 
</select>

<select id="getPlanVersionList" parameterType="java.lang.Integer" resultType="java.util.HashMap">
	select distinct version as title from c2_community_case_plan where project_id = #{projectId,jdbcType = NUMERIC}
</select>
</mapper>